IOTstack/aws-datafiles/morgan-swd/data/.flows.json.backup
[{"id":"2648b56e.74804a","type":"tab","label":"New Hannathon Petroleum - Morgan SWD 1","disabled":false,"info":""},{"id":"50093eb5.860c3","type":"tab","label":"Willie Scott CTB - SM Energy Permissive","disabled":false,"info":"Willie Scott CTB -SM ENERGY PERMISSIVE - MUST KEEP RUNNING AT ALL TIMES!\n\nFirst TankLogix Contact:\n\nNaveen Aleti  432 888 0203\n\nWe are writing modbus TCP permissive on\nport 510.  If we get an 'SM Energy Permissive Timeout'\ntext alert, then tanklogix may have messed up\nthe port forwarding.\n\nYou can jump to the other open port, 502, \nby changing the 510 to 502 in the 'write perm'\nfunction.  Deploy the changes in node red, and \ncheck the flow context browser for the 'writeSuccess'\ncounter to increase (you can also track writeErrors\nusing the flow context browser.)\n\nIf we miss sending permissive for more than 30 minutes,\nthe site may shut in causing losses.\n\nADDITIONAL NOTES:\n\nThe reason we are using the manually created modbus\ntcp packet, instead of the usual modbus node, is that\nthe receiving PLC will not let us keep a tcp socket open,\nas the usual modbus node does.  We have to create\nthe connection, write, and immediately close/have the connection\nclose on us.  Most slave devices do not require this\nand will let you leave a socket open."},{"id":"83afd947.e3d0f8","type":"twilioConfig","z":"","name":"SCADABit Twilio Midland"},{"id":"4fad8b3a.4a5844","type":"twilio-api","z":"","name":"SCADABit Twilio Midland","sid":"ACd3d1e28d6055eac9af7579cbe9b2df67","from":"+14323150086"},{"id":"2394da76.e09106","type":"ui_tab","z":"","name":"Morgan SWD 1","icon":"dashboard","order":1},{"id":"160ef881.885f97","type":"ui_group","z":"","name":"Tank","tab":"2394da76.e09106","order":1,"disp":true,"width":"6","collapse":false},{"id":"975eae2.064e85","type":"mqtt-broker","z":"","name":"MQTT Health Broker","broker":"18.222.119.245","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9a4b6151.b1386","type":"twilioConfig","z":"","name":"SCADABit Twilio Tyler"},{"id":"3b976e99.98f6d2","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#808080","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#808080","edited":true},"page-titlebar-backgroundColor":{"value":"#808080","edited":false},"page-backgroundColor":{"value":"#c0c0c0","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#000000","edited":true},"group-borderColor":{"value":"#808080","edited":true},"group-backgroundColor":{"value":"#c0c0c0","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#808080","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Hannathon Petroleum - Morgan SWD","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":45,"sy":48,"gx":20,"gy":20,"cx":3,"cy":3,"px":0,"py":0}}},{"id":"5bd83007.ebe96","type":"modbus-client","z":"","name":"Morgan SWD Modbus","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"166.153.34.68","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1000,"clientTimeout":3000,"reconnectTimeout":5000},{"id":"429fe42a.7a486c","type":"ui_group","z":"","name":"Charge Pump 1","tab":"2394da76.e09106","order":3,"disp":true,"width":"8","collapse":false},{"id":"c7806b4a.455058","type":"ui_group","z":"","name":"PD Pump 1","tab":"2394da76.e09106","order":5,"disp":true,"width":"8","collapse":false},{"id":"ef5f6771.a29d28","type":"ui_group","z":"","name":"Alarms","tab":"2394da76.e09106","order":6,"disp":true,"width":"8","collapse":false},{"id":"70700cf0.3271c4","type":"mqtt-broker","z":"","name":"Test MQTT Connection","broker":"18.222.217.68","port":"1885","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b77c53f.84b19b","type":"ui_group","z":"","name":"PD Pump 2","tab":"2394da76.e09106","order":7,"disp":true,"width":"6","collapse":false},{"id":"20683a86.acfda6","type":"ui_group","z":"","name":"Charge Pump 2","tab":"2394da76.e09106","order":4,"disp":true,"width":"6","collapse":false},{"id":"1fcb5576.186f4b","type":"ui_group","z":"","name":"Tank Points","tab":"2394da76.e09106","order":2,"disp":true,"width":"6","collapse":false},{"id":"c870e4f4.c54aa8","type":"ui_group","z":"","name":"Chemical Pumps","tab":"2394da76.e09106","disp":true,"width":"8","collapse":false},{"id":"b5192a65.e30498","type":"ui_group","z":"","name":"SDV & Flow","tab":"2394da76.e09106","order":9,"disp":true,"width":"6","collapse":false},{"id":"8b435184.4c8d6","type":"modbus-client","z":"","name":"Morgan SWD 1 PLC 2","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"166.153.34.68","tcpPort":"503","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1000,"clientTimeout":5000,"reconnectTimeout":10000},{"id":"25d39604.2185ba","type":"modbus-client","z":"","name":"Hannathon Galveston Modbus","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"166.169.141.41","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":3000,"reconnectTimeout":5000},{"id":"60aabb88.830814","type":"function","z":"2648b56e.74804a","name":"Parse Alarm Reg","func":"var alarmMsg = \"\"\n\nflow.set(\"alarmRegDate\", msg.timeStamp)\n\nvar oldTankHHAlarm = flow.get(\"tankHHAlarm\")\nvar oldTankLLAlarm = flow.get(\"tankLLAlarm\")\nvar oldChargeFailAlarm = flow.get(\"chargeFailAlarm\")\nvar oldCharge2FailAlarm = flow.get(\"charge2FailAlarm\")\nvar oldPdFailAlarm = flow.get(\"pdFailAlarm\")\nvar oldPd2FailAlarm = flow.get(\"pd2FailAlarm\")\nvar oldChargeAutoAlarm = flow.get(\"chargeAutoAlarm\")\nvar oldCharge2AutoAlarm = flow.get(\"charge2AutoAlarm\")\n\n// if((msg.payload[0] & 1) === 0) {\nif((msg.payload[0] & 1) > 0) {\n    var newTankHHAlarm = \"Alarm\"\n} else {\n    var newTankHHAlarm = \"Normal\"\n}\n\nif(oldTankHHAlarm !== undefined) {\n  \n  if(newTankHHAlarm !== oldTankHHAlarm) {\n    flow.set(\"tankHHAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newTankHHAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   Tank High-High Level\"\n    } else if(newTankHHAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  Tank High-High Level\"\n    }\n}\n   \n} \n\n\n// if((msg.payload[0] & 2) === 0) {\nif((msg.payload[0] & 2) > 0) {\n    var newChargeFailAlarm = \"Alarm\"\n} else {\n    var newChargeFailAlarm = \"Normal\"\n}\n\nif(oldChargeFailAlarm !== undefined) {\n  \n  if(newChargeFailAlarm !== oldChargeFailAlarm) {\n    flow.set(\"chargeFailAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newChargeFailAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   Charge 1 Fail to Start\"\n    } else if(newChargeFailAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  Charge 1 Fail to Start\"\n    }\n}\n   \n} \n\n\n// if((msg.payload[0] & 4) === 0) {\nif((msg.payload[0] & 4) > 0) {\n    var newPdFailAlarm = \"Alarm\"\n} else {\n    var newPdFailAlarm = \"Normal\"\n}\n\nif(oldPdFailAlarm !== undefined) {\n  \n  if(newPdFailAlarm !== oldPdFailAlarm) {\n    flow.set(\"pdFailAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newPdFailAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   PD 1 Fail to Start\"\n    } else if(newPdFailAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  PD 1 Fail to Start\"\n    }\n}\n   \n} \n\n\n// if((msg.payload[0] & 8) === 0) {\nif((msg.payload[0] & 8) > 0) {\n    var newChargeAutoAlarm = \"Alarm\"\n} else {\n    var newChargeAutoAlarm = \"Normal\"\n}\n\nif(oldChargeAutoAlarm !== undefined) {\n  \n  if(newChargeAutoAlarm !== oldChargeAutoAlarm) {\n    flow.set(\"chargeAutoAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newChargeAutoAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   Charge 1 not in Auto\"\n    } else if(newChargeAutoAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  Charge 1 not in Auto\"\n    }\n}\n   \n} \n\n// if((msg.payload[0] & 8) === 0) {\nif((msg.payload[0] & 16) > 0) {\n    var newCharge2AutoAlarm = \"Alarm\"\n} else {\n    var newCharge2AutoAlarm = \"Normal\"\n}\n\nif(oldCharge2AutoAlarm !== undefined) {\n  \n  if(newCharge2AutoAlarm !== oldCharge2AutoAlarm) {\n    flow.set(\"charge2AutoAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newCharge2AutoAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   Charge 2 not in Auto\"\n    } else if(newCharge2AutoAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  Charge 2 not in Auto\"\n    }\n}\n   \n} \n\n\n// if((msg.payload[0] & 2) === 0) {\nif((msg.payload[0] & 32) > 0) {\n    var newCharge2FailAlarm = \"Alarm\"\n} else {\n    var newCharge2FailAlarm = \"Normal\"\n}\n\nif(oldCharge2FailAlarm !== undefined) {\n  \n  if(newCharge2FailAlarm !== oldCharge2FailAlarm) {\n    flow.set(\"charge2FailAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newCharge2FailAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   Charge 2 Fail to Start\"\n    } else if(newCharge2FailAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  Charge 2 Fail to Start\"\n    }\n}\n   \n} \n\n// if((msg.payload[0] & 4) === 0) {\nif((msg.payload[0] & 64) > 0) {\n    var newPd2FailAlarm = \"Alarm\"\n} else {\n    var newPd2FailAlarm = \"Normal\"\n}\n\nif(oldPd2FailAlarm !== undefined) {\n  \n  if(newPd2FailAlarm !== oldPd2FailAlarm) {\n    flow.set(\"pd2FailAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newPd2FailAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   PD 2 Fail to Start\"\n    } else if(newPd2FailAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  PD 2 Fail to Start\"\n    }\n}\n   \n} \n\n// if((msg.payload[0] & 1) === 0) {\nif((msg.payload[0] & 128) > 0) {\n    var newTankLLAlarm = \"Alarm\"\n} else {\n    var newTankLLAlarm = \"Normal\"\n}\n\nif(oldTankLLAlarm !== undefined) {\n  \n  if(newTankLLAlarm !== oldTankLLAlarm) {\n    flow.set(\"tankLLAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newTankLLAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   Tank Low-Low Level\"\n    } else if(newTankLLAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  Tank Low-Low Level\"\n    }\n}\n   \n} \n\n\nflow.set(\"tankHHAlarm\", newTankHHAlarm)\nflow.set(\"tankLLAlarm\", newTankLLAlarm)\nflow.set(\"chargeFailAlarm\", newChargeFailAlarm)\nflow.set(\"charge2FailAlarm\", newCharge2FailAlarm)\nflow.set(\"pdFailAlarm\", newPdFailAlarm)\nflow.set(\"pd2FailAlarm\", newPd2FailAlarm)\nflow.set(\"chargeAutoAlarm\", newChargeAutoAlarm)\nflow.set(\"charge2AutoAlarm\", newCharge2AutoAlarm)\n\n\nif(alarmMsg.length > 0) {\n   return {\"payload\": alarmMsg}\n} \n\n\n\n\n","outputs":2,"noerr":0,"x":618.0000152587891,"y":1096.0001106262207,"wires":[["c4858393.65d0a"],[]]},{"id":"ec5667bd.3a21f8","type":"function","z":"2648b56e.74804a","name":"Cache to Flow Context AND SM ENERGY HI TANK","func":"flow.set(\"tankLevelFeet\", msg.payload)\nvar pct = msg.payload / 24\npct = pct * 100\npct = pct.toFixed(2)\nflow.set(\"tankLevelPct\", pct)\n\nvar oldSmTankAlarm = flow.get(\"smTankAlarm\")||\"Normal\"\nvar tankLevelFeet = msg.payload\nvar alarmMsg = \"\"\nnode.error(oldSmTankAlarm)\n\nvar newSmTankAlarm = \"\"\n\nif(tankLevelFeet >= 20) {\n    newSmTankAlarm = \"Alarm\"\n} else {\n    newSmTankAlarm = \"Normal\"\n}\n\n  node.error('newSmTankAlarm: ' + newSmTankAlarm)\n  node.error('oldSmTankAlarm: ' + oldSmTankAlarm)\nif(newSmTankAlarm !== oldSmTankAlarm) {\n    flow.set(\"plc2HighDischargeAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newSmTankAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   Tank Level at 20 Feet, NEED to Stop SM Energy Pumps NOW!\"\n    } else if(newSmTankAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  Tank Level Back Below 20 Feet\"\n    }\n    flow.set(\"smTankAlarm\", newSmTankAlarm)\n    return {payload: alarmMsg} \n\n\n}\n   \n","outputs":1,"noerr":0,"x":1379.0000534057617,"y":976.0001201629639,"wires":[["c4858393.65d0a"]]},{"id":"a72b0cc6.786e3","type":"function","z":"2648b56e.74804a","name":"Parse Status Reg","func":"var forceStatusMessage = false\n\nflow.set(\"statusRegDate\", msg.timeStamp)\n\nif((msg.payload[0] & 1) > 0) {\n    flow.set(\"headSwitchStatus\", \"On\")\n} else {\n    flow.set(\"headSwitchStatus\", \"Off\")\n}\n\nif((msg.payload[0] & 2) > 0) {\n    flow.set(\"tankHighLevel\", \"Active\")\n} else {\n    flow.set(\"tankHighLevel\", \"Normal\")\n}\n\nif((msg.payload[0] & 4) > 0) {\n    flow.set(\"chargePumpAuto\", \"Auto\")\n} else {\n    flow.set(\"chargePumpAuto\", \"Not Auto\")\n}\n\nif((msg.payload[0] & 8) > 0) {\n    flow.set(\"chargePumpStatus\", \"Running\")\n} else {\n    flow.set(\"chargePumpStatus\", \"Stopped\")\n}\n\nif((msg.payload[0] & 16) > 0) {\n    var oldPdPumpStatus = flow.get(\"pdPumpStatus\")\n    if(oldPdPumpStatus != \"Running\") {\n        forceStatusMessage = true\n    }\n    flow.set(\"pdPumpStatus\", \"Running\")\n} else {\n    flow.set(\"pdPumpStatus\", \"Stopped\")\n}\n\n\nif((msg.payload[0] & 32) > 0) {\n    flow.set(\"chemPumpCmd\", \"Running\")\n} else {\n    flow.set(\"chemPumpCmd\", \"Stopped\")\n}\n\n\nif((msg.payload[0] & 64) > 0) {\n    flow.set(\"levelPermissive1\", \"On\")\n} else {\n    flow.set(\"levelPermissive1\", \"Off\")\n}\n\nif((msg.payload[0] & 128) > 0) {\n    flow.set(\"levelPermissive2\", \"On\")\n} else {\n    flow.set(\"levelPermissive2\", \"Off\")\n}\n\nif((msg.payload[0] & 512) > 0) {\n    flow.set(\"chargePump2Status\", \"Running\")\n} else {\n    flow.set(\"chargePump2Status\", \"Stopped\")\n}\n\nif((msg.payload[0] & 1024) > 0) {\n    flow.set(\"pdPump2Status\", \"Running\")\n} else {\n    flow.set(\"pdPump2Status\", \"Stopped\")\n}\n\nif((msg.payload[0] & 2048) > 0) {\n    flow.set(\"chemPump2Cmd\", \"Running\")\n} else {\n    flow.set(\"chemPump2Cmd\", \"Stopped\")\n}\n\nif((msg.payload[0] & 4096) > 0) {\n    flow.set(\"chargePump2Auto\", \"Auto\")\n} else {\n    flow.set(\"chargePump2Auto\", \"Not Auto\")\n}\n\nif((msg.payload[0] & 8192) > 0) {\n    flow.set(\"pump1Permissive\", \"On\")\n} else {\n    flow.set(\"pump1Permissive\", \"Off\")\n}\n\nif((msg.payload[0] & 16384) > 0) {\n    flow.set(\"pump2Permissive\", \"On\")\n} else {\n    flow.set(\"pump2Permissive\", \"Off\")\n}\n\nif(forceStatusMessage) {\n    return {\"payload\": \"on\"}\n}\n\n","outputs":1,"noerr":0,"x":614.0000152587891,"y":1033.0001106262207,"wires":[[]]},{"id":"d3fc8663.e69ca8","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":862.5000152587891,"y":957.0001106262207,"wires":[["552acf85.9ad1f"]]},{"id":"adbceef5.f01e2","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"flow.set(\"tankLevelFeetDate\", msg.timeStamp)\nflow.set(\"tankLevelPctDate\", msg.timeStamp)\n\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":645.5000152587891,"y":956.0001106262207,"wires":[["d3fc8663.e69ca8"]]},{"id":"c4858393.65d0a","type":"sms","z":"2648b56e.74804a","name":"Customer Twilio","message":"","numbers":"+18172473760, +14328133806,+14328131895,+14326614092,+14325565341,+14324139363,+14324137920,+14326648765,+14326645113,+14327411885","throttle":"5000","twilio":"83afd947.e3d0f8","x":1426.5001220703125,"y":163,"wires":[[]]},{"id":"8521fe47.18dcc","type":"inject","z":"2648b56e.74804a","name":"CCS Health keep_alive","topic":"keep_alive","payload":"Hannathon Petroleum - Morgan SWD 1","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":341.00006103515625,"y":2610.222290992737,"wires":[["d7068433.c55ae8"]]},{"id":"d7068433.c55ae8","type":"mqtt out","z":"2648b56e.74804a","name":"Keep Alive Send","topic":"keep_alive","qos":"2","retain":"false","broker":"975eae2.064e85","x":576.0000686645508,"y":2610.2222929000854,"wires":[]},{"id":"50bfcb60.d7c874","type":"trigger","z":"2648b56e.74804a","op1":"","op2":"bad","op1type":"pay","op2type":"str","duration":"40","extend":true,"units":"min","reset":"","bytopic":"all","name":"Comm Fail Message Trigger","x":444.5,"y":147,"wires":[["4d0e6e72.c4884"]]},{"id":"a6f6523e.596c2","type":"function","z":"2648b56e.74804a","name":"Comm Status Cache","func":"var m = \"Current Time        \" + msg.timeStamp\nm += \"\\nMorgan SWD 1\\n\"\n\nvar scadaCommAlarm = flow.get(\"scadaCommAlarm\")\n\nif(msg.payload === \"bad\") {\n        flow.set(\"scadaCommAlarm\", \"Alarm\")\n    if(scadaCommAlarm === \"Normal\") {\n        \n        flow.set(\"scadaCommAlarmDate\", msg.timeStamp)\n        m += \"Alarm Active:   SCADA Communication Offline\"\n        msg.payload = m\n        return msg\n    }\n    \n} else {\n        flow.set(\"scadaCommAlarm\", \"Normal\")\n    if(scadaCommAlarm === \"Alarm\") {\n        \n        flow.set(\"scadaCommAlarmDate\", msg.timeStamp)\n        m += \"Alarm Cleared:  SCADA Communication Now Online\"\n        msg.payload = m\n        return msg\n    }  \n}","outputs":1,"noerr":0,"x":940.5,"y":148,"wires":[["66a1caf.76b0234"]]},{"id":"211fb2e5.efaa0e","type":"comment","z":"2648b56e.74804a","name":"CUSTOMER ALARMS","info":"","x":156,"y":38,"wires":[]},{"id":"d1cc6051.f32ab","type":"comment","z":"2648b56e.74804a","name":"SCADABit INTERNAL ALARMS","info":"","x":332.0000762939453,"y":2546.2223510742188,"wires":[]},{"id":"d5efb6a8.50dec8","type":"status","z":"2648b56e.74804a","name":"Twilio Status","scope":["c4858393.65d0a"],"x":298.00006103515625,"y":2697.222290992737,"wires":[["a981f3c4.514bb"]]},{"id":"a981f3c4.514bb","type":"function","z":"2648b56e.74804a","name":"Check For Twilio Error","func":"var twilioErrorCount = flow.get(\"twilioErrorCount\")\nvar errorMsg = \"\"\nif(twilioErrorCount.constructor !== Number) {\n    twilioErrorCount = 0\n    flow.set(\"twilioErrorCount\", 0)\n}\nvar m = msg.status.text\nvar str = m.substring(m.indexOf(\"error:\")+6,m.length)\nvar errorNum = parseInt(str)\n\nif(errorNum > twilioErrorCount) {\n    errorMsg = \"ERROR: CCS_HEALTH_1 JM Williamson Twilio Message Undelivered\"\n}\n\nflow.set(\"twilioErrorCount\", errorNum)\n\n// \"2, success: 0, error: 2\"\nif(errorMsg.length > 0) {\n   return {\"payload\": errorMsg}\n}","outputs":1,"noerr":0,"x":574.0000610351562,"y":2697.222290992737,"wires":[[]]},{"id":"c9b1b232.92573","type":"modbus-read","z":"2648b56e.74804a","name":"Tank Level Feet","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"16","quantity":"2","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"45","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":141.00001525878906,"y":963.0001106262207,"wires":[["f66ff05d.9e2ee"],[]]},{"id":"5a38097d.b38258","type":"modbus-read","z":"2648b56e.74804a","name":"Status Reg","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"30","quantity":"1","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"50","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":158.00001525878906,"y":1021.0001106262207,"wires":[["86024363.bbe42"],[]]},{"id":"eb7ca4b9.fbcb58","type":"modbus-read","z":"2648b56e.74804a","name":"Alarm Reg","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"40","quantity":"1","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"55","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160.00001525878906,"y":1072.0001106262207,"wires":[["5d9d1bd1.65f114","50bfcb60.d7c874"],[]]},{"id":"5d9d1bd1.65f114","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":368.50001525878906,"y":1076.0001106262207,"wires":[["60aabb88.830814"]]},{"id":"86024363.bbe42","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":370.00001525878906,"y":1025.0001106262207,"wires":[["a72b0cc6.786e3"]]},{"id":"f66ff05d.9e2ee","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":384.00001525878906,"y":961.0001106262207,"wires":[["adbceef5.f01e2"]]},{"id":"4d0e6e72.c4884","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":692,"y":148,"wires":[["a6f6523e.596c2"]]},{"id":"100e12d7.fb392d","type":"debug","z":"2648b56e.74804a","name":"GEN FAIL OPT ALARM","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1414.5002212524414,"y":3362.333426475525,"wires":[]},{"id":"cfaf8574.27ace8","type":"inject","z":"2648b56e.74804a","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":350.18750762939453,"y":96.96875762939453,"wires":[["819f95a7.f005d8"]]},{"id":"819f95a7.f005d8","type":"function","z":"2648b56e.74804a","name":"SET TANKS TO ZERO (REMOVE WHEN LEVEL SENSOR FIXED)","func":"return [{\"payload\": [0]}, {\"payload\": [0,0]}]","outputs":2,"noerr":0,"x":686.5242919921875,"y":96.9132080078125,"wires":[[],[]]},{"id":"b04efa95.e8f368","type":"http in","z":"2648b56e.74804a","name":"Manual Get Status","url":"/get_status","method":"post","upload":false,"swaggerDoc":"","x":493.513916015625,"y":29.000003814697266,"wires":[["e6c91923.3b0e28"]]},{"id":"ea78d62b.40e318","type":"http response","z":"2648b56e.74804a","name":"Respond with Status Msg","statusCode":"200","headers":{"content-type":"text/plain"},"x":1503.5243911743164,"y":25.875004768371582,"wires":[]},{"id":"d21f3b6b.d3ccb8","type":"function","z":"2648b56e.74804a","name":"Check Cmd Add Return Phone","func":"var cmd = msg.payload.Body.toLowerCase()\n\nif(cmd.indexOf(\"status\") !== -1 || cmd.indexOf(\"1\") !== -1) {\n    return msg\n} else if(cmd.indexOf(\"reset\") !== -1 || cmd.indexOf(\"2\") !== -1) {\n    return [null, msg]\n} else if(cmd.indexOf(\"setpoint\") !== -1 || cmd.indexOf(\"3\") !== -1) {\n    return [null, null, msg]\n} else if(cmd.indexOf(\"flow\") !== -1 || cmd.indexOf(\"4\") !== -1) {\n    return [null, null, null, null, msg]\n} else if(cmd.indexOf(\"ack\") !== -1 || cmd.indexOf(\"9\") !== -1) {\n    return [null, null, null, null, null, msg]\n} else {\n    return [null, null, null, msg]\n}","outputs":6,"noerr":0,"x":938.5208740234375,"y":42.5,"wires":[["ba3ff73c.86ddf8"],["3003582d.823db8","3beb9484.3b51fc"],["79513801.a0dc38"],["17ceca91.924b75"],["aea684b6.5310a8"],[]]},{"id":"ba3ff73c.86ddf8","type":"function","z":"2648b56e.74804a","name":"Send Status Message","func":"\n    var statusMsg = \"Current Time        \" + msg.timeStamp\n    statusMsg += \"\\nMorgan SWD 1\"\n    // CHECK TANK\n    var tankLevelFeet = flow.get(\"tankLevelFeet\")\n    var tankLevelPct = flow.get(\"tankLevelPct\")\n\n    // GET STATUS READ TIMESTAMP\n    var statusRegDate = flow.get(\"statusRegDate\")\n\n    //  SDV \n    var sdvDate = flow.get(\"sdvDate\")\n    \n    var sdvOpenComm = flow.get(\"sdvOpenComm\")\n    var sdvOpenStatus = flow.get(\"sdvOpenStatus\")\n    var sdvClosedStatus = flow.get(\"sdvClosedStatus\")\n\n    var flowRate = flow.get(\"flowRate\")\n\n    // CHECK ALARMS\n    var tankHHAlarm = flow.get(\"tankHHAlarm\")\n    var tankLLAlarm = flow.get(\"tankLLAlarm\")\n    var chargeFailAlarm = flow.get(\"chargeFailAlarm\")\n    var charge2FailAlarm = flow.get(\"charge2FailAlarm\")\n    var pdFailAlarm = flow.get(\"pdFailAlarm\")\n    var pd2FailAlarm = flow.get(\"pd2FailAlarm\")\n    var pdFailOptAlarm = flow.get(\"pdFailOptAlarm\")\n    var chargeAutoAlarm = flow.get(\"chargeAutoAlarm\")\n    var charge2AutoAlarm = flow.get(\"charge2AutoAlarm\")\n    \n    var scadaCommAlarm = flow.get(\"scadaCommAlarm\")\n\n    var tankHHAlarmDate = flow.get(\"tankHHAlarmDate\")\n    var tankLLAlarmDate = flow.get(\"tankLLAlarmDate\")\n    var chargeFailAlarmDate = flow.get(\"chargeFailAlarmDate\")\n    var charge2FailAlarmDate = flow.get(\"charge2FailAlarmDate\")\n    var pdFailAlarmDate = flow.get(\"pdFailAlarmDate\")\n    var pd2FailAlarmDate = flow.get(\"pd2FailAlarmDate\")\n    var pdFailOptAlarmDate = flow.get(\"pdFailOptAlarmDate\")\n    var chargeAutoAlarmDate = flow.get(\"chargeAutoAlarmDate\")\n    var charge2AutoAlarmDate = flow.get(\"charge2AutoAlarmDate\")\n    \n    var scadaCommAlarmDate = flow.get(\"scadaCommAlarmDate\")\n    \n    var chargePump1TotalAccum = flow.get(\"chargePump1TotalAccum\")\n    var chargePump1FlowRate = flow.get(\"chargePump1FlowRate\")\n    var chargePump1Today = flow.get(\"chargePump1Today\")\n    var chargePump1Yesterday = flow.get(\"chargePump1Yesterday\")\n    var chargePump2TotalAccum = flow.get(\"chargePump2TotalAccum\")\n    var chargePump2FlowRate = flow.get(\"chargePump2FlowRate\")\n    var chargePump2Today = flow.get(\"chargePump2Today\")\n    var chargePump2Yesterday = flow.get(\"chargePump2Yesterday\")\n\n\n\n\n    // CHECK STATUS\n    var headSwitchStatus = flow.get(\"headSwitchStatus\")\n    var tankHighLevel = flow.get(\"tankHighLevel\")\n    var chargePumpAuto = flow.get(\"chargePumpAuto\")\n    var chargePumpStatus = flow.get(\"chargePumpStatus\")\n    var pdPumpStatus = flow.get(\"pdPumpStatus\")\n    var chemPumpCmd = flow.get(\"chemPumpCmd\")\n    var levelPermissive1 = flow.get(\"levelPermissive1\")\n    var levelPermissive2 = flow.get(\"levelPermissive2\")\n    var chargePump2Status = flow.get(\"chargePump2Status\")\n    var pdPump2Status = flow.get(\"pdPump2Status\")\n    var chemPump2Cmd = flow.get(\"chemPump2Cmd\")\n    var chargePump2Auto = flow.get(\"chargePump2Auto\")\n    var pump1Permissive = flow.get(\"pump1Permissive\")\n    var pump2Permissive = flow.get(\"pump2Permissive\")\n    var smPermissive = global.get(\"smEnergyPermissive\")\n    \n//spacing+naming\n    var sn = \"\\nTank and Flow:\"\n    var spa = \"\\n\"\n    {\n        statusMsg = statusMsg + spa\n    }\n\n    {\n        statusMsg = statusMsg + sn + spa\n    }\n//spacing+naming\n    \n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Status Time:         \" + statusRegDate\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Tank Level (ft):     \" + tankLevelFeet\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Inc Flow Rate (BPD): \" + flowRate\n\n//spacing+naming\nvar sn = \"\\nPumps:\"\nvar spa = \"\\n\"\n{\n    statusMsg = statusMsg + spa\n}\n\n{\n    statusMsg = statusMsg + sn + spa\n}\n//spacing+naming\n\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Charge 1:   \" + chargePumpStatus\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Charge 2:   \" + chargePump2Status\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"PD 1:    \" + pdPumpStatus\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"PD 2:    \" + pdPump2Status\n    \n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Ch.1 Total (BBLS):   \" + chargePump1TotalAccum\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Ch.1 Rate (BPD):     \" + chargePump1FlowRate\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Ch.1 Today (BBLS):   \" + chargePump1Today\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Ch.1 Yest. (BBLS):   \" + chargePump1Yesterday\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Ch.2 Total (BBLS):   \" + chargePump2TotalAccum\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Ch.2 Rate (BPD):     \" + chargePump2FlowRate\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Ch.2 Today (BBLS):   \" + chargePump2Today\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"Ch.2 Yest. (BBLS):   \" + chargePump2Yesterday\n    \n//spacing+naming\nvar sn = \"\\nSM Energy Valve:\"\nvar spa = \"\\n\"\n{\n    statusMsg = statusMsg + spa\n}\n\n{\n    statusMsg = statusMsg + sn + spa\n}\n//spacing+naming\n\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"SDV Permissive:     \" + smPermissive\n\n    if(sdvOpenStatus == \"On\"){\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"SDV Status:     \" + \"Open\"\n    }\n    \n    if(sdvOpenStatus == \"Off\"){\n    statusMsg = statusMsg + \"\\n\" + \"    \" + \"SDV Status:     \" + \"Closed\"\n    }\n    \n//spacing+naming\nvar sn = \"\\nActive Alarms:\"\nvar spa = \"\\n\"\n{\n    statusMsg = statusMsg + spa\n}\n\n{\n    statusMsg = statusMsg + sn + spa\n}\n//spacing+naming\n\n    var foundAlarm = false\n\n    if(tankHHAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nActive Alarms:\"\n    }\n    statusMsg = statusMsg + \"\\nActive:  \" + tankHHAlarmDate\n    statusMsg = statusMsg + \"\\nTank High-High Level\"\n    foundAlarm = true\n    }\n \n    if(chargeFailAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nActive Alarms:\"\n    }\n\n    statusMsg = statusMsg + \"\\nActive:  \" + chargeFailAlarmDate\n    statusMsg = statusMsg + \"\\nCharge 1 Fail to Start\"\n    foundAlarm = true\n    }\n\n    if(pdFailAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nActive Alarms:\"\n    }\n\n    statusMsg = statusMsg + \"\\nActive:  \" + pdFailAlarmDate\n    statusMsg = statusMsg + \"\\nPD 1 Fail to Start\"\n    foundAlarm = true\n    }   \n\n    // if(pdFailOptAlarm === \"Alarm\") {\n    // if(!foundAlarm) {\n    // statusMsg = statusMsg + \"\\n\\nActive Alarms:\"\n    // }\n\n    // statusMsg = statusMsg + \"\\nActive:  \" + pdFailOptAlarmDate\n    // statusMsg = statusMsg + \"\\nPD Fail to Start\"\n    // foundAlarm = true\n    // } \n\n    if(chargeAutoAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nActive Alarms:\"\n    }\n\n    statusMsg = statusMsg + \"\\nActive:  \" + chargeAutoAlarmDate\n    statusMsg = statusMsg + \"\\nCharge 1 not in Auto\"\n    foundAlarm = true  \n    }  \n\n    if(charge2AutoAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nActive Alarms:\"\n    }\n\n    statusMsg = statusMsg + \"\\nActive:  \" + charge2AutoAlarmDate\n    statusMsg = statusMsg + \"\\nCharge 2 not in Auto\"\n    foundAlarm = true  \n    }  \n\n    if(charge2FailAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nActive Alarms:\"\n    }\n\n    statusMsg = statusMsg + \"\\nActive:  \" + charge2FailAlarmDate\n    statusMsg = statusMsg + \"\\nCharge 2 Fail to Start\"\n    foundAlarm = true\n    }\n\n    if(pd2FailAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nActive Alarms:\"\n    }\n\n    statusMsg = statusMsg + \"\\nActive:  \" + pd2FailAlarmDate\n    statusMsg = statusMsg + \"\\nPD 2 Fail to Start\"\n    foundAlarm = true\n    }   \n\n    if(tankLLAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nActive Alarms:\"\n    }\n    statusMsg = statusMsg + \"\\nActive:  \" + tankLLAlarmDate\n    statusMsg = statusMsg + \"\\nTank Low-Low Level\"\n    foundAlarm = true\n    }\n\n    if(scadaCommAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nActive Alarms:\"\n    }\n\n    statusMsg = statusMsg + \"\\nActive:  \" + scadaCommAlarmDate\n    statusMsg = statusMsg + \"\\nSCADA Communication Offline\"\n    foundAlarm = true  \n    }  \n\n  msg.payload = statusMsg\n  return msg;\n\n","outputs":1,"noerr":0,"x":1211.0173606872559,"y":26.010416984558105,"wires":[["ea78d62b.40e318"]]},{"id":"e6c91923.3b0e28","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":694.0173187255859,"y":29.010416984558105,"wires":[["d21f3b6b.d3ccb8"]]},{"id":"80c11d60.6d1da","type":"cron","z":"2648b56e.74804a","name":"Status Message Schedule","crontab":"0 0,30 6-17 * * 1-5","x":136.01736450195312,"y":216.0104112625122,"wires":[[]]},{"id":"be43f26a.20f24","type":"comment","z":"2648b56e.74804a","name":"Mon-Fri 06:00AM-5:30PM 30 minutes","info":"","x":155,"y":180.01040267944336,"wires":[]},{"id":"92209d02.98668","type":"comment","z":"2648b56e.74804a","name":"ARCHIVE","info":"","x":300.0174789428711,"y":4877.344380378723,"wires":[]},{"id":"eac637cc.0831a8","type":"comment","z":"2648b56e.74804a","name":"DASHBOARD","info":"","x":294.0174102783203,"y":2806.5660610198975,"wires":[]},{"id":"4aa8f31b.6b30bc","type":"inject","z":"2648b56e.74804a","name":"Dashboard Update Interval","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":326.52088928222656,"y":2894.517442703247,"wires":[["566aa194.e43b7"]]},{"id":"690b2e8.3f12cd","type":"ui_chart","z":"2648b56e.74804a","name":"Tank Level","group":"160ef881.885f97","order":8,"width":"3","height":"14","label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"24","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1036.1910705566406,"y":2739.434576034546,"wires":[[],[]]},{"id":"c11e0cd5.0c572","type":"ui_text","z":"2648b56e.74804a","group":"160ef881.885f97","order":3,"width":0,"height":0,"name":"Tank Last Read Date","label":"Last Read:","format":"{{msg.payload}}","layout":"row-left","x":1066.1910247802734,"y":2771.51788520813,"wires":[]},{"id":"566aa194.e43b7","type":"function","z":"2648b56e.74804a","name":"Update Dashboard Values","func":"var tankLevelPct = flow.get(\"tankLevelPct\")\nvar tankLevelFeet = flow.get(\"tankLevelFeet\")\nvar tankLevelDate = flow.get(\"tankLevelFeetDate\")\nif(tankLevelDate == undefined) {\n    tankLevelDate = \"\"\n}\nvar chemPumpCmd = flow.get(\"chemPumpCmd\")\nvar chargePumpStatus = flow.get(\"chargePumpStatus\")\nvar chargePumpAuto = flow.get(\"chargePumpAuto\")\nvar headSwitchStatus = flow.get(\"headSwitchStatus\")\nvar statusRegDate = flow.get(\"statusRegDate\")\nvar alarmRegDate = flow.get(\"alarmRegDate\")\nvar pdPumpStatus = flow.get(\"pdPumpStatus\")\n\n// added points\nvar levelPermissive1 = flow.get(\"levelPermissive1\")\nvar levelPermissive2 = flow.get(\"levelPermissive2\")\nvar chargePump2Status = flow.get(\"chargePump2Status\")\nvar pdPump2Status = flow.get(\"pdPump2Status\")\nvar chemPump2Cmd = flow.get(\"chemPump2Cmd\")\nvar chargePump2Auto = flow.get(\"chargePump2Auto\")\nvar pump1Permissive = flow.get(\"pump1Permissive\")\nvar pump2Permissive = flow.get(\"pump2Permissive\")\n\n// added points october\nvar flowRate = flow.get(\"flowRate\")\nvar flowRateDate = flow.get(\"flowRateDate\")\nvar sdvDate = flow.get(\"sdvDate\")\nvar sdvOpenComm = flow.get(\"sdvOpenComm\")\nvar sdvOpenStatus = flow.get(\"sdvOpenStatus\")\nvar sdvClosedStatus = flow.get(\"sdvClosedStatus\")\n\nvar smEnergyPermissive = global.get(\"smEnergyPermissive\")\n\n// setpoints\nvar specificGravity = flow.get(\"specificGravity\")\nvar specificGravityDate = flow.get(\"specificGravityDate\")\nvar specificGravityOffset = flow.get(\"specificGravityOffset\")\nvar specificGravityOffsetDate = flow.get(\"specificGravityOffsetDate\")\nvar pdPump1StartSetpoint = flow.get(\"pdPump1StartSetpoint\")\nif(pdPump1StartSetpoint == undefined) {\n    pdPump1StartSetpoint = \"\"\n}\nvar pdPump1StartSetpointDate = flow.get(\"pdPump1StartSetpointDate\")\nif(pdPump1StartSetpointDate == undefined) {\n    pdPump1StartSetpointDate = \"\"\n}\nvar pdPump1StopSetpoint = flow.get(\"pdPump1StopSetpoint\")\nif(pdPump1StopSetpoint == undefined) {\n    pdPump1StopSetpoint = \"\"\n}\nvar pdPump1StopSetpointDate = flow.get(\"pdPump1StopSetpointDate\")\nif(pdPump1StopSetpointDate == undefined) {\n    pdPump1StopSetpointDate = \"\"\n}\nvar pdPump2StartSetpoint = flow.get(\"pdPump2StartSetpoint\")\nif(pdPump2StartSetpoint == undefined) {\n    pdPump2StartSetpoint = \"\"\n}\nvar pdPump2StartSetpointDate = flow.get(\"pdPump2StartSetpointDate\")\nif(pdPump2StartSetpointDate == undefined) {\n    pdPump2StartSetpointDate = \"\"\n}\nvar pdPump2StopSetpoint = flow.get(\"pdPump2StopSetpoint\")\nif(pdPump2StopSetpoint == undefined) {\n    pdPump2StopSetpoint = \"\"\n}\nvar pdPump2StopSetpointDate = flow.get(\"pdPump2StopSetpointDate\")\nif(pdPump2StopSetpointDate == undefined) {\n    pdPump2StopSetpointDate = \"\"\n}\nvar tankHighSetpoint = flow.get(\"tankHighSetpoint\")\nif(tankHighSetpoint == undefined) {\n    tankHighSetpoint = \"\"\n}\nvar tankHighSetpointDate = flow.get(\"tankHighSetpointDate\")\nif(tankHighSetpointDate == undefined) {\n    tankHighSetpointDate = \"\"\n}\nvar tankLowSetpoint = flow.get(\"tankLowSetpoint\")\nif(tankLowSetpoint == undefined) {\n    tankLowSetpoint = \"\"\n}\nvar tankLowSetpointDate = flow.get(\"tankLowSetpointDate\")\nif(tankLowSetpointDate == undefined) {\n    tankLowSetpointDate = \"\"\n}\n\n// end\n\nvar scadaCommAlarm = flow.get(\"scadaCommAlarm\")\nvar scadaCommAlarmDate = flow.get(\"scadaCommAlarmDate\")\nif(scadaCommAlarmDate == undefined) {\n    scadaCommAlarmDate = \"\"\n}\nvar pdFailAlarm = flow.get(\"pdFailAlarm\")\nvar pdFailAlarmDate = flow.get(\"pdFailAlarmDate\")\nif(pdFailAlarmDate == undefined) {\n    pdFailAlarmDate = \"\"\n}\n\nvar pd2FailAlarm = flow.get(\"pd2FailAlarm\")\nvar pd2FailAlarmDate = flow.get(\"pd2FailAlarmDate\")\nif(pd2FailAlarmDate == undefined) {\n    pd2FailAlarmDate = \"\"\n}\n\nvar tankHHAlarm = flow.get(\"tankHHAlarm\")\nvar tankHHAlarmDate = flow.get(\"tankHHAlarmDate\")\nif(tankHHAlarmDate == undefined) {\n    tankHHAlarmDate = \"\"\n}\n\nvar tankLLAlarm = flow.get(\"tankLLAlarm\")\nvar tankLLAlarmDate = flow.get(\"tankLLAlarmDate\")\nif(tankLLAlarmDate == undefined) {\n    tankLLAlarmDate = \"\"\n}\n\nvar chargeFailAlarm = flow.get(\"chargeFailAlarm\")\nvar chargeFailAlarmDate = flow.get(\"chargeFailAlarmDate\")\nif(chargeFailAlarmDate == undefined) {\n    chargeFailAlarmDate = \"\"\n}\nvar charge2FailAlarm = flow.get(\"charge2FailAlarm\")\nvar charge2FailAlarmDate = flow.get(\"charge2FailAlarmDate\")\nif(charge2FailAlarmDate == undefined) {\n    charge2FailAlarmDate = \"\"\n}\n\nvar chargeAutoAlarm = flow.get(\"chargeAutoAlarm\")\nvar chargeAutoAlarmDate = flow.get(\"chargeAutoAlarmDate\")\nif(chargeAutoAlarmDate == undefined) {\n    chargeAutoAlarmDate = \"\"\n}\nvar charge2AutoAlarm = flow.get(\"charge2AutoAlarm\")\nvar charge2AutoAlarmDate = flow.get(\"charge2AutoAlarmDate\")\nif(charge2AutoAlarmDate == undefined) {\n    charge2AutoAlarmDate = \"\"\n}\n\n\n\n\nreturn [\n    {\"payload\": tankLevelFeet},\n    {\"payload\": tankLevelDate},\n    {\"payload\": chargePumpStatus},\n    {\"payload\": chargePumpAuto},\n    {\"payload\": headSwitchStatus},\n    {\"payload\": pdPumpStatus},\n    {\"payload\": statusRegDate},\n    {\"payload\": statusRegDate},\n    {\"payload\": scadaCommAlarm},\n    {\"payload\": scadaCommAlarmDate},\n    {\"payload\": pdFailAlarm},\n    {\"payload\": pdFailAlarmDate},\n    {\"payload\": tankHHAlarm},\n    {\"payload\": tankHHAlarmDate},\n    {\"payload\": chargeFailAlarm},\n    {\"payload\": chargeFailAlarmDate},\n    {\"payload\": chargeAutoAlarm},\n    {\"payload\": chargeAutoAlarmDate},\n    {\"payload\": tankLevelFeet},\n    {\"payload\": tankLevelPct},\n    {\"payload\": tankLLAlarm},\n    {\"payload\": tankLLAlarmDate},\n    {\"payload\": pd2FailAlarm},\n    {\"payload\": pd2FailAlarmDate},\n    {\"payload\": charge2FailAlarm},\n    {\"payload\": charge2FailAlarmDate},\n    {\"payload\": charge2AutoAlarm},\n    {\"payload\": charge2AutoAlarmDate},\n    {\"payload\": levelPermissive1},\n    {\"payload\": levelPermissive2},\n    {\"payload\": chargePump2Status},\n    {\"payload\": pdPump2Status},\n    {\"payload\": chargePump2Auto},\n    {\"payload\": pump1Permissive},\n    {\"payload\": pump2Permissive},\n    {\"payload\": specificGravity},\n    {\"payload\": specificGravityDate},\n    {\"payload\": specificGravityOffset},\n    {\"payload\": specificGravityOffsetDate},\n    {\"payload\": pdPump1StartSetpoint},\n    {\"payload\": pdPump1StartSetpointDate},\n    {\"payload\": pdPump1StopSetpoint},\n    {\"payload\": pdPump1StopSetpointDate},\n    {\"payload\": pdPump2StartSetpoint},\n    {\"payload\": pdPump2StartSetpointDate},\n    {\"payload\": pdPump2StopSetpoint},\n    {\"payload\": pdPump2StopSetpointDate},\n    {\"payload\": tankHighSetpoint},\n    {\"payload\": tankHighSetpointDate},\n    {\"payload\": tankLowSetpoint},\n    {\"payload\": tankLowSetpointDate},\n    {\"payload\": chemPumpCmd},\n    {\"payload\": chemPump2Cmd},\n    {\"payload\": flowRate},\n    {\"payload\": flowRateDate},\n    {\"payload\": sdvDate},\n    {\"payload\": sdvOpenComm},\n    {\"payload\": sdvOpenStatus},\n    {\"payload\": sdvClosedStatus},\n    {\"payload\": smEnergyPermissive}\n];","outputs":60,"noerr":0,"x":595.5243759155273,"y":2895.469018936157,"wires":[["690b2e8.3f12cd"],["c11e0cd5.0c572"],["2cb1c9ad.a00db6"],["2453b9b1.fdd6c6"],["e3d6bbcf.15a238"],["ce8755e4.831ef8"],["2605c56a.5fdfba"],[],["ceeef8c1.4c1b78"],["d8169630.bacfe8"],["642743d9.804d4c"],["5151eeea.dafe2"],["47d851e5.b7f79"],["a14feae0.ade2c8"],["e96c374a.276a58"],["4e2de4d4.72b30c"],["729a8fda.075db"],["c940d216.11d86"],["c0bc82d6.aa424"],["7a5488a4.e451a8"],["1162922a.d217ae"],["e69ed6fc.c5fd98"],["965048ca.26a188"],["bef8eb89.9f1218"],["5282130e.5a1b3c"],["3e567f80.83e7"],["909d14da.f5d0a8"],["779dddd0.3466d4"],["e495e78a.ced408"],["297b892f.b64146"],["398de9cb.0f12e6"],["cb4fad60.55f78"],["b3908954.2d7758"],["8cc06381.fde71"],["4fda7f0b.a59e6"],["bac5802e.df221"],["4df782.1cf5a88"],["fde09c78.8f35f"],["d9f63d29.c1b92"],["a5345ffe.3af93"],["d663df02.a4b6"],["53416cc4.3d1984"],["bc534dd8.5d46b"],["fdc52cfe.8a6b4"],["22a34b76.6e7854"],["9fbb0276.b326f"],["fdac9f45.587a"],["842f01d6.089c7"],["8232fad3.f45588"],["238d04ce.d845dc"],["a8469862.e0dbe8"],["5b2be6d3.2009a8"],["4faa247.3af4edc"],["e34866e7.99e4e8"],["208ede23.730852"],["cbbfd8e6.4c2768"],["86d41b24.8b1d88"],["aeb14221.02643"],["a758b90a.a6a758"],["7707ae35.04ba9"]]},{"id":"ee321fdb.b2c57","type":"ui_button","z":"2648b56e.74804a","name":"Alarm Reset","group":"ef5f6771.a29d28","order":1,"width":0,"height":0,"passthru":false,"label":"RESET ALARMS","color":"","bgcolor":"red","icon":"","payload":"2","payloadType":"str","topic":"","x":134.19470977783203,"y":1426.7751779556274,"wires":[["3beb9484.3b51fc"]]},{"id":"e3d6bbcf.15a238","type":"ui_text","z":"2648b56e.74804a","group":"429fe42a.7a486c","order":7,"width":0,"height":0,"name":"Head Switch","label":"Head Switch:","format":"{{msg.payload}}","layout":"row-spread","x":1035.0173797607422,"y":2874.2328548431396,"wires":[]},{"id":"2cb1c9ad.a00db6","type":"ui_text","z":"2648b56e.74804a","group":"429fe42a.7a486c","order":1,"width":0,"height":0,"name":"Charge Pump 1 Status","label":"Run Status:","format":"{{msg.payload}}","layout":"row-spread","x":1063.1875839233398,"y":2805.1842460632324,"wires":[]},{"id":"2453b9b1.fdd6c6","type":"ui_text","z":"2648b56e.74804a","group":"429fe42a.7a486c","order":2,"width":0,"height":0,"name":"Charge Pump 1 Auto","label":"Auto Status:","format":"{{msg.payload}}","layout":"row-spread","x":1065.0173950195312,"y":2840.2327060699463,"wires":[]},{"id":"ce8755e4.831ef8","type":"ui_text","z":"2648b56e.74804a","group":"c7806b4a.455058","order":1,"width":0,"height":0,"name":"PD Pump 1 Status","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":1046.0174179077148,"y":2911.232825279236,"wires":[]},{"id":"ef3e3665.613838","type":"modbus-write","z":"2648b56e.74804a","name":"Set/Reset Alarm Bit 0","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"60","quantity":"1","server":"5bd83007.ebe96","x":887.1876373291016,"y":1413.6362161636353,"wires":[[],[]]},{"id":"1ecef382.71f54c","type":"trigger","z":"2648b56e.74804a","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":545.5244178771973,"y":1425.4103565216064,"wires":[["82498034.16e61"]]},{"id":"82498034.16e61","type":"function","z":"2648b56e.74804a","name":"Reset Cache","func":"if(msg.payload == 0) {\nflow.set(\"resetButton\", 0)\n} else {\nflow.set(\"resetButton\", 1)   \n}\nreturn msg\n\n\n","outputs":1,"noerr":0,"x":699.0174560546875,"y":1426.5110340118408,"wires":[["ef3e3665.613838","c115bf30.e224d"]]},{"id":"ceeef8c1.4c1b78","type":"ui_text","z":"2648b56e.74804a","group":"ef5f6771.a29d28","order":2,"width":0,"height":0,"name":"SCADA Comm Alarm","label":"SCADA Comms:","format":"{{msg.payload}}","layout":"row-spread","x":1064.0174102783203,"y":3031.121608734131,"wires":[]},{"id":"d8169630.bacfe8","type":"ui_text","z":"2648b56e.74804a","group":"ef5f6771.a29d28","order":3,"width":0,"height":0,"name":"SCADA Comm Alarm Date","label":"Active/Cleared Date:","format":"{{msg.payload}}","layout":"row-spread","x":1084.0174102783203,"y":3068.232692718506,"wires":[]},{"id":"5151eeea.dafe2","type":"ui_text","z":"2648b56e.74804a","group":"c7806b4a.455058","order":10,"width":0,"height":0,"name":"PD 1 Fail Alarm Date","label":"Active/Cleared Date:","format":"{{msg.payload}}","layout":"row-spread","x":1063.0174102783203,"y":3143.232692718506,"wires":[]},{"id":"642743d9.804d4c","type":"ui_text","z":"2648b56e.74804a","group":"c7806b4a.455058","order":9,"width":0,"height":0,"name":"PD 1 Fail Alarm","label":"PD Fail:","format":"{{msg.payload}}","layout":"row-spread","x":1043.0174102783203,"y":3106.121608734131,"wires":[]},{"id":"a14feae0.ade2c8","type":"ui_text","z":"2648b56e.74804a","group":"160ef881.885f97","order":5,"width":0,"height":0,"name":"Tank High-High Alarm Date","label":"Active/Cleared Date:","format":"{{msg.payload}}","layout":"row-spread","x":1084.0174102783203,"y":3218.232692718506,"wires":[]},{"id":"47d851e5.b7f79","type":"ui_text","z":"2648b56e.74804a","group":"160ef881.885f97","order":4,"width":0,"height":0,"name":"Tank High-High Alarm","label":"Tank High-High:","format":"{{msg.payload}}","layout":"row-spread","x":1064.0174102783203,"y":3181.121608734131,"wires":[]},{"id":"4e2de4d4.72b30c","type":"ui_text","z":"2648b56e.74804a","group":"429fe42a.7a486c","order":4,"width":0,"height":0,"name":"Charge 1 Fail to Run Alarm Date","label":"Active/Cleared Date:","format":"{{msg.payload}}","layout":"row-spread","x":1104.0174102783203,"y":3294.232692718506,"wires":[]},{"id":"e96c374a.276a58","type":"ui_text","z":"2648b56e.74804a","group":"429fe42a.7a486c","order":3,"width":0,"height":0,"name":"Charge 1 Fail to Run Alarm","label":"Charge Pump Fail to Start:","format":"{{msg.payload}}","layout":"row-spread","x":1084.0174102783203,"y":3257.121608734131,"wires":[]},{"id":"c940d216.11d86","type":"ui_text","z":"2648b56e.74804a","group":"429fe42a.7a486c","order":6,"width":0,"height":0,"name":"Charge 1 Not in Auto Alarm Date","label":"Active/Cleared Date:","format":"{{msg.payload}}","layout":"row-spread","x":1104.0174102783203,"y":3368.899440765381,"wires":[]},{"id":"729a8fda.075db","type":"ui_text","z":"2648b56e.74804a","group":"429fe42a.7a486c","order":5,"width":0,"height":0,"name":"Charge 1 Not in Auto Alarm","label":"Charge Not in Auto:","format":"{{msg.payload}}","layout":"row-spread","x":1084.0174102783203,"y":3331.788356781006,"wires":[]},{"id":"c0bc82d6.aa424","type":"ui_text","z":"2648b56e.74804a","group":"160ef881.885f97","order":1,"width":0,"height":0,"name":"Tank Level Feet Label","label":"Level (feet):","format":"{{msg.payload}}","layout":"row-left","x":1064.0173950195312,"y":3402.7881870269775,"wires":[]},{"id":"f5ba22b7.e38a4","type":"comment","z":"2648b56e.74804a","name":"PLC 1 Keep Alive","info":"","x":114.01737594604492,"y":1389.5666494369507,"wires":[]},{"id":"12a9a3e4.b3008c","type":"modbus-write","z":"2648b56e.74804a","name":"PLC Keep Alive toggle 1/0","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"60","quantity":"1","server":"5bd83007.ebe96","x":778.6632347106934,"y":2372.5661239624023,"wires":[[],[]]},{"id":"57c06c6.8400394","type":"function","z":"2648b56e.74804a","name":"Send & Set Cache","func":"var plcKeepAlive = flow.get(\"plcKeepAlive\")\nif(plcKeepAlive == 2) {\n    plcKeepAlive = 0\n    flow.set(\"plcKeepAlive\", 0)\n} else {\n    plcKeepAlive = 2\n    flow.set(\"plcKeepAlive\", 2)   \n}\n\nreturn {\"payload\": plcKeepAlive}    \n\n","outputs":1,"noerr":0,"x":545.0000114440918,"y":2374.3472430706024,"wires":[["12a9a3e4.b3008c"]]},{"id":"520786e6.460158","type":"inject","z":"2648b56e.74804a","name":"PLC Keep Alive 5Min","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":320.18761825561523,"y":2375.514058828354,"wires":[["57c06c6.8400394"]]},{"id":"7a5488a4.e451a8","type":"ui_text","z":"2648b56e.74804a","group":"160ef881.885f97","order":2,"width":0,"height":0,"name":"Tank Level Pct Label","label":"Level (%):","format":"{{msg.payload}}","layout":"row-left","x":1066.0000610351562,"y":3436.333270072937,"wires":[]},{"id":"3003582d.823db8","type":"function","z":"2648b56e.74804a","name":"Send Reset Confirmation","func":"\n    var statusMsg = \"Current Time        \" + msg.timeStamp\n    statusMsg += \"\\nMorgan SWD 1\\nAlarm Reset executed.\"\n    \n    // CHECK ALARMS\n    var tankHHAlarm = flow.get(\"tankHHAlarm\")\n    var chargeFailAlarm = flow.get(\"chargeFailAlarm\")\n    var pdFailAlarm = flow.get(\"pdFailAlarm\")\n    var chargeAutoAlarm = flow.get(\"chargeAutoAlarm\")\n    // var scadaCommAlarm = flow.get(\"scadaCommAlarm\")\n\n    var foundAlarm = false\n\n    if(tankHHAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nReset Alarms:\"\n    }    \n    statusMsg = statusMsg + \"\\nTank High-High Level\"\n    foundAlarm = true\n    }\n \n    if(chargeFailAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nReset Alarms:\"\n    }\n   \n    statusMsg = statusMsg + \"\\nCharge Fail to Start\"\n    foundAlarm = true\n    }\n\n    if(pdFailAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nReset Alarms:\"\n    }\n    \n    statusMsg = statusMsg + \"\\nPD Fail to Start\"\n    foundAlarm = true\n    }   \n\n    if(chargeAutoAlarm === \"Alarm\") {\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"\\n\\nReset Alarms:\"\n    }\n    \n    statusMsg = statusMsg + \"\\nCharge not in Auto\"\n    foundAlarm = true  \n    }  \n\n    // if(scadaCommAlarm === \"Alarm\") {\n    // if(!foundAlarm) {\n    // statusMsg = statusMsg + \"\\n\\nReset Alarms:\"\n    // }\n    \n    // statusMsg = statusMsg + \"\\nSCADA Communication Offline\"\n    // foundAlarm = true  \n    // }  \n\n    if(!foundAlarm) {\n    statusMsg = statusMsg + \"  There were no alarms to reset.\"\n    }\n\n  msg.payload = statusMsg\n  return msg;\n\n","outputs":1,"noerr":0,"x":1237.0234375,"y":75.0390625,"wires":[["ea78d62b.40e318"]]},{"id":"3beb9484.3b51fc","type":"function","z":"2648b56e.74804a","name":"Send and Set Cache","func":"var resetButton = flow.get(\"resetButton\")\n\nif(resetButton != 1) {\nflow.set(\"resetButton\", 1)     \nreturn msg\n}\n\n\n","outputs":1,"noerr":0,"x":351.0235366821289,"y":1427.0398254394531,"wires":[["1ecef382.71f54c"]]},{"id":"558e43d8.523cec","type":"inject","z":"2648b56e.74804a","name":"","topic":"","payload":"good","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":213.5,"y":141,"wires":[["50bfcb60.d7c874"]]},{"id":"d8e4f098.315a5","type":"function","z":"2648b56e.74804a","name":"Cache to Flow Context","func":"flow.set(\"specificGravity\", msg.payload)\n\n","outputs":1,"noerr":0,"x":1019,"y":415,"wires":[[]]},{"id":"625c51c0.dbd9a","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":831.5,"y":413,"wires":[["d8e4f098.315a5"]]},{"id":"b4768d4e.fc79e","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"flow.set(\"specificGravityDate\", msg.timeStamp)\n\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":614.5,"y":412,"wires":[["625c51c0.dbd9a"]]},{"id":"d9c377e.88eb788","type":"modbus-read","z":"2648b56e.74804a","name":"Specific Gravity","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4","quantity":"2","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"5","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":123.00000762939453,"y":379.0000305175781,"wires":[["7708a1bf.8c4ba"],[]]},{"id":"7708a1bf.8c4ba","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":353,"y":417,"wires":[["b4768d4e.fc79e"]]},{"id":"e70d9f06.d8c6a","type":"function","z":"2648b56e.74804a","name":"Cache to Flow Context","func":"flow.set(\"specificGravityOffset\", msg.payload)\n\n","outputs":1,"noerr":0,"x":1025,"y":505,"wires":[[]]},{"id":"8c212b46.36ed88","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":837.5,"y":503,"wires":[["e70d9f06.d8c6a"]]},{"id":"b82e6912.b485b8","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"flow.set(\"specificGravityOffsetDate\", msg.timeStamp)\n\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":620.5,"y":502,"wires":[["8c212b46.36ed88"]]},{"id":"de708962.4ec9f8","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":359,"y":507,"wires":[["b82e6912.b485b8"]]},{"id":"616d2b7.eb586d4","type":"modbus-read","z":"2648b56e.74804a","name":"Specific Gravity Offset","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"8","quantity":"2","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"10","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":127,"y":478.0000629425049,"wires":[["de708962.4ec9f8"],[]]},{"id":"f1fddf5a.1a668","type":"modbus-read","z":"2648b56e.74804a","name":"PD Charge Pump 1 Start Setpoint","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"20","quantity":"2","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"15","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":169,"y":573,"wires":[["e842f25c.c3343"],[]]},{"id":"e842f25c.c3343","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":431,"y":571,"wires":[["d9f625d1.2fd258"]]},{"id":"d9f625d1.2fd258","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"flow.set(\"pdPump1StartSetpointDate\", msg.timeStamp)\n\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":692.5,"y":566,"wires":[["5d1c2ae0.f15fc4"]]},{"id":"5d1c2ae0.f15fc4","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":909.5,"y":567,"wires":[["ba124090.497fe"]]},{"id":"ba124090.497fe","type":"function","z":"2648b56e.74804a","name":"Cache to Flow Context","func":"flow.set(\"pdPump1StartSetpoint\", msg.payload)\n\n","outputs":1,"noerr":0,"x":1097,"y":569,"wires":[[]]},{"id":"287dab77.105be4","type":"modbus-read","z":"2648b56e.74804a","name":"PD Charge Pump 1 Stop Setpoint","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"22","quantity":"2","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"20","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":173,"y":631,"wires":[["4c8e2bbc.53ff74"],[]]},{"id":"4c8e2bbc.53ff74","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":439,"y":628,"wires":[["c449b1c0.24aa6"]]},{"id":"c449b1c0.24aa6","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"flow.set(\"pdPump1StopSetpointDate\", msg.timeStamp)\n\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":700.5,"y":623,"wires":[["809b65f7.13f238"]]},{"id":"809b65f7.13f238","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":917.5,"y":624,"wires":[["264156a.b8682aa"]]},{"id":"264156a.b8682aa","type":"function","z":"2648b56e.74804a","name":"Cache to Flow Context","func":"flow.set(\"pdPump1StopSetpoint\", msg.payload)\n\n","outputs":1,"noerr":0,"x":1105,"y":626,"wires":[[]]},{"id":"a5782bbb.314078","type":"modbus-read","z":"2648b56e.74804a","name":"Tank High Setpoint","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"24","quantity":"2","rate":"35","rateUnit":"s","delayOnStart":false,"startDelayTime":"20","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":148.00000762939453,"y":825.0000820159912,"wires":[["2cf09d5f.0b27e2"],[]]},{"id":"2cf09d5f.0b27e2","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":381.00000762939453,"y":823.0000820159912,"wires":[["d6a8fe9f.9e984"]]},{"id":"d6a8fe9f.9e984","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"flow.set(\"tankHighSetpointDate\", msg.timeStamp)\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":642.5000076293945,"y":818.0000820159912,"wires":[["f83f78e3.191968"]]},{"id":"f83f78e3.191968","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":859.5000076293945,"y":819.0000820159912,"wires":[["3fe029c0.d901c6"]]},{"id":"3fe029c0.d901c6","type":"function","z":"2648b56e.74804a","name":"Cache to Flow Context","func":"flow.set(\"tankHighSetpoint\", msg.payload)\n\n","outputs":1,"noerr":0,"x":1047.0000076293945,"y":821.0000820159912,"wires":[[]]},{"id":"32c73874.6f1568","type":"modbus-read","z":"2648b56e.74804a","name":"Tank Low Setpoint","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"26","quantity":"2","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"40","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":147.00000762939453,"y":889.0000610351562,"wires":[["5f21f439.9f234c"],[]]},{"id":"5f21f439.9f234c","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":382.00000762939453,"y":891.0000820159912,"wires":[["93b658b5.31fd68"]]},{"id":"93b658b5.31fd68","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"flow.set(\"tankLowSetpointDate\", msg.timeStamp)\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":643.5000076293945,"y":886.0000820159912,"wires":[["6eebfd80.45a534"]]},{"id":"6eebfd80.45a534","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":860.5000076293945,"y":887.0000820159912,"wires":[["fbc4783c.786538"]]},{"id":"fbc4783c.786538","type":"function","z":"2648b56e.74804a","name":"Cache to Flow Context","func":"flow.set(\"tankLowSetpoint\", msg.payload)\n\n","outputs":1,"noerr":0,"x":1048.0000076293945,"y":889.0000820159912,"wires":[[]]},{"id":"f22c888d.031928","type":"modbus-read","z":"2648b56e.74804a","name":"PD Charge Pump 2 Start Setpoint","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"52","quantity":"2","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"25","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170.01953125,"y":684.75390625,"wires":[["32f707bc.940078"],[]]},{"id":"32f707bc.940078","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":432.01953125,"y":682.75390625,"wires":[["e46dcb57.2b1018"]]},{"id":"e46dcb57.2b1018","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"flow.set(\"pdPump2StartSetpointDate\", msg.timeStamp)\n\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":693.51953125,"y":677.75390625,"wires":[["e2900e26.abf1d"]]},{"id":"e2900e26.abf1d","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":910.51953125,"y":678.75390625,"wires":[["2f05e628.85604a"]]},{"id":"2f05e628.85604a","type":"function","z":"2648b56e.74804a","name":"Cache to Flow Context","func":"flow.set(\"pdPump2StartSetpoint\", msg.payload)\n\n","outputs":1,"noerr":0,"x":1098.01953125,"y":680.75390625,"wires":[[]]},{"id":"244504ac.7690ec","type":"modbus-read","z":"2648b56e.74804a","name":"PD Charge Pump 2 Stop Setpoint","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"54","quantity":"2","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"30","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":174.01953125,"y":742.75390625,"wires":[["ca92ca5c.372ea8"],[]]},{"id":"ca92ca5c.372ea8","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":440.01953125,"y":739.75390625,"wires":[["34c0b0d1.869d5"]]},{"id":"34c0b0d1.869d5","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"flow.set(\"pdPump2StopSetpointDate\", msg.timeStamp)\n\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":701.51953125,"y":734.75390625,"wires":[["15b9a130.1620af"]]},{"id":"15b9a130.1620af","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":918.51953125,"y":735.75390625,"wires":[["c2d3f242.b757f"]]},{"id":"c2d3f242.b757f","type":"function","z":"2648b56e.74804a","name":"Cache to Flow Context","func":"flow.set(\"pdPump2StopSetpoint\", msg.payload)\n\n","outputs":1,"noerr":0,"x":1106.01953125,"y":737.75390625,"wires":[[]]},{"id":"1162922a.d217ae","type":"ui_text","z":"2648b56e.74804a","group":"160ef881.885f97","order":6,"width":0,"height":0,"name":"Tank Low-Low Alarm","label":"Tank Low-Low:","format":"{{msg.payload}}","layout":"row-spread","x":1064.0195922851562,"y":3472.587158203125,"wires":[]},{"id":"e69ed6fc.c5fd98","type":"ui_text","z":"2648b56e.74804a","group":"160ef881.885f97","order":7,"width":0,"height":0,"name":"Tank Low-Low Alarm Date","label":"Active/Cleared Date:","format":"{{msg.payload}}","layout":"row-spread","x":1084.0195922851562,"y":3509.6982421875,"wires":[]},{"id":"965048ca.26a188","type":"ui_text","z":"2648b56e.74804a","group":"b77c53f.84b19b","order":8,"width":0,"height":0,"name":"PD 2 Fail Alarm","label":"PD Fail:","format":"{{msg.payload}}","layout":"row-spread","x":1044.0195922851562,"y":3546.587158203125,"wires":[]},{"id":"bef8eb89.9f1218","type":"ui_text","z":"2648b56e.74804a","group":"b77c53f.84b19b","order":9,"width":0,"height":0,"name":"PD 2 Fail Alarm Date","label":"Active/Cleared Date:","format":"{{msg.payload}}","layout":"row-spread","x":1064.0195922851562,"y":3583.6982421875,"wires":[]},{"id":"5282130e.5a1b3c","type":"ui_text","z":"2648b56e.74804a","group":"20683a86.acfda6","order":5,"width":0,"height":0,"name":"Charge 2 Fail to Run Alarm","label":"Charge Pump Fail to Start:","format":"{{msg.payload}}","layout":"row-spread","x":1084.0195922851562,"y":3618.587158203125,"wires":[]},{"id":"3e567f80.83e7","type":"ui_text","z":"2648b56e.74804a","group":"20683a86.acfda6","order":6,"width":0,"height":0,"name":"Charge 2 Fail to Run Alarm Date","label":"Active/Cleared Date:","format":"{{msg.payload}}","layout":"row-spread","x":1104.0195922851562,"y":3655.6982421875,"wires":[]},{"id":"909d14da.f5d0a8","type":"ui_text","z":"2648b56e.74804a","group":"20683a86.acfda6","order":7,"width":0,"height":0,"name":"Charge 2 Not in Auto Alarm","label":"Charge Not in Auto:","format":"{{msg.payload}}","layout":"row-spread","x":1083.0195922851562,"y":3691.587158203125,"wires":[]},{"id":"779dddd0.3466d4","type":"ui_text","z":"2648b56e.74804a","group":"20683a86.acfda6","order":8,"width":0,"height":0,"name":"Charge 2 Not in Auto Alarm Date","label":"Active/Cleared Date:","format":"{{msg.payload}}","layout":"row-spread","x":1103.0195922851562,"y":3728.6982421875,"wires":[]},{"id":"e495e78a.ced408","type":"ui_text","z":"2648b56e.74804a","group":"c7806b4a.455058","order":3,"width":0,"height":0,"name":"PD Pump 1 Level Permissive","label":"Level Permissive:","format":"{{msg.payload}}","layout":"row-spread","x":1081.0195922851562,"y":3764.837158203125,"wires":[]},{"id":"297b892f.b64146","type":"ui_text","z":"2648b56e.74804a","group":"b77c53f.84b19b","order":2,"width":0,"height":0,"name":"PD Pump 2 Level Permissive","label":"Level Permissive:","format":"{{msg.payload}}","layout":"row-spread","x":1082.0195922851562,"y":3804.837158203125,"wires":[]},{"id":"398de9cb.0f12e6","type":"ui_text","z":"2648b56e.74804a","group":"20683a86.acfda6","order":2,"width":0,"height":0,"name":"Charge Pump 2 Status","label":"Run Status:","format":"{{msg.payload}}","layout":"row-spread","x":1062.0195922851562,"y":3845.337188720703,"wires":[]},{"id":"cb4fad60.55f78","type":"ui_text","z":"2648b56e.74804a","group":"b77c53f.84b19b","order":1,"width":0,"height":0,"name":"PD Pump 2 Status","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":1047.0195922851562,"y":3882.337158203125,"wires":[]},{"id":"b3908954.2d7758","type":"ui_text","z":"2648b56e.74804a","group":"20683a86.acfda6","order":3,"width":0,"height":0,"name":"Charge Pump 2 Auto","label":"Auto Status:","format":"{{msg.payload}}","layout":"row-spread","x":1056.0195922851562,"y":3922.587158203125,"wires":[]},{"id":"8cc06381.fde71","type":"ui_text","z":"2648b56e.74804a","group":"c7806b4a.455058","order":4,"width":0,"height":0,"name":"PD Pump 1 Main Permissive","label":"Pump Permissive:","format":"{{msg.payload}}","layout":"row-spread","x":1067.0195922851562,"y":3959.087158203125,"wires":[]},{"id":"4fda7f0b.a59e6","type":"ui_text","z":"2648b56e.74804a","group":"b77c53f.84b19b","order":3,"width":0,"height":0,"name":"PD Pump 2 Main Permissive","label":"Pump Permissive:","format":"{{msg.payload}}","layout":"row-spread","x":1068.0195922851562,"y":3999.087158203125,"wires":[]},{"id":"bac5802e.df221","type":"ui_text","z":"2648b56e.74804a","group":"1fcb5576.186f4b","order":5,"width":0,"height":0,"name":"Specific Gravity","label":"Specific Gravity:","format":"{{msg.payload}}","layout":"row-left","x":1028.0195922851562,"y":4041.587158203125,"wires":[]},{"id":"4df782.1cf5a88","type":"ui_text","z":"2648b56e.74804a","group":"1fcb5576.186f4b","order":6,"width":0,"height":0,"name":"Specific Gravity Date","label":"Last Read:","format":"{{msg.payload}}","layout":"row-left","x":1050.0195770263672,"y":4078.587127685547,"wires":[]},{"id":"d9f63d29.c1b92","type":"ui_text","z":"2648b56e.74804a","group":"1fcb5576.186f4b","order":8,"width":0,"height":0,"name":"Specific Gravity Offset Date","label":"Last Read:","format":"{{msg.payload}}","layout":"row-left","x":1072.0195922851562,"y":4153.837158203125,"wires":[]},{"id":"fde09c78.8f35f","type":"ui_text","z":"2648b56e.74804a","group":"1fcb5576.186f4b","order":7,"width":0,"height":0,"name":"Specific Gravity Offset","label":"S.G. Offset:","format":"{{msg.payload}}","layout":"row-left","x":1050.0196075439453,"y":4116.837188720703,"wires":[]},{"id":"a5345ffe.3af93","type":"ui_text","z":"2648b56e.74804a","group":"c7806b4a.455058","order":5,"width":0,"height":0,"name":"PD Pump 1 Start Setpoint","label":"Start Setpoint:","format":"{{msg.payload}}","layout":"row-spread","x":1059.0195922851562,"y":4189.587158203125,"wires":[]},{"id":"d663df02.a4b6","type":"ui_text","z":"2648b56e.74804a","group":"c7806b4a.455058","order":6,"width":0,"height":0,"name":"PD Pump 1 Start Setpoint Date","label":"Last Read:","format":"{{msg.payload}}","layout":"row-spread","x":1078.0196380615234,"y":4229.5873165130615,"wires":[]},{"id":"bc534dd8.5d46b","type":"ui_text","z":"2648b56e.74804a","group":"c7806b4a.455058","order":8,"width":0,"height":0,"name":"PD Pump 1 Stop Setpoint Date","label":"Last Read:","format":"{{msg.payload}}","layout":"row-spread","x":1079.0195922851562,"y":4304.587158203125,"wires":[]},{"id":"53416cc4.3d1984","type":"ui_text","z":"2648b56e.74804a","group":"c7806b4a.455058","order":7,"width":0,"height":0,"name":"PD Pump 1 Stop Setpoint","label":"Stop Setpoint:","format":"{{msg.payload}}","layout":"row-spread","x":1060.019546508789,"y":4264.5869998931885,"wires":[]},{"id":"fdc52cfe.8a6b4","type":"ui_text","z":"2648b56e.74804a","group":"b77c53f.84b19b","order":4,"width":0,"height":0,"name":"PD Pump 2 Start Setpoint","label":"Start Setpoint:","format":"{{msg.payload}}","layout":"row-spread","x":1059.0195922851562,"y":4352.587158203125,"wires":[]},{"id":"22a34b76.6e7854","type":"ui_text","z":"2648b56e.74804a","group":"b77c53f.84b19b","order":5,"width":0,"height":0,"name":"PD Pump 2 Start Setpoint Date","label":"Last Read:","format":"{{msg.payload}}","layout":"row-spread","x":1078.0196380615234,"y":4392.5873165130615,"wires":[]},{"id":"fdac9f45.587a","type":"ui_text","z":"2648b56e.74804a","group":"b77c53f.84b19b","order":7,"width":0,"height":0,"name":"PD Pump 2 Stop Setpoint Date","label":"Last Read:","format":"{{msg.payload}}","layout":"row-spread","x":1079.0195922851562,"y":4467.587158203125,"wires":[]},{"id":"9fbb0276.b326f","type":"ui_text","z":"2648b56e.74804a","group":"b77c53f.84b19b","order":6,"width":0,"height":0,"name":"PD Pump 2 Stop Setpoint","label":"Stop Setpoint:","format":"{{msg.payload}}","layout":"row-spread","x":1060.019546508789,"y":4427.5869998931885,"wires":[]},{"id":"842f01d6.089c7","type":"ui_text","z":"2648b56e.74804a","group":"1fcb5576.186f4b","order":1,"width":0,"height":0,"name":"Tank High Level Setpoint","label":"High Level Setpoint:","format":"{{msg.payload}}","layout":"row-left","x":1057.0195922851562,"y":4514.587158203125,"wires":[]},{"id":"8232fad3.f45588","type":"ui_text","z":"2648b56e.74804a","group":"1fcb5576.186f4b","order":2,"width":0,"height":0,"name":"Tank High Level Setpoint Date","label":"Last Read:","format":"{{msg.payload}}","layout":"row-left","x":1079.0195770263672,"y":4551.587127685547,"wires":[]},{"id":"238d04ce.d845dc","type":"ui_text","z":"2648b56e.74804a","group":"1fcb5576.186f4b","order":3,"width":0,"height":0,"name":"Tank Low Level Setpoint","label":"Low Level Setpoint:","format":"{{msg.payload}}","layout":"row-left","x":1054.0195922851562,"y":4587.587158203125,"wires":[]},{"id":"a8469862.e0dbe8","type":"ui_text","z":"2648b56e.74804a","group":"1fcb5576.186f4b","order":4,"width":0,"height":0,"name":"Tank Low Level Setpoint Date","label":"Last Read:","format":"{{msg.payload}}","layout":"row-left","x":1076.0195770263672,"y":4624.587127685547,"wires":[]},{"id":"2605c56a.5fdfba","type":"ui_text","z":"2648b56e.74804a","group":"429fe42a.7a486c","order":8,"width":0,"height":0,"name":"Status Reg Date","label":"Status Reg Date:","format":"{{msg.payload}}","layout":"row-spread","x":1038.0195922851562,"y":2947.337158203125,"wires":[]},{"id":"5b2be6d3.2009a8","type":"ui_text","z":"2648b56e.74804a","group":"c870e4f4.c54aa8","order":4,"width":0,"height":0,"name":"Chem Pump 1 Cmd","label":"Pump 1 Command","format":"{{msg.payload}}","layout":"row-left","x":1058.0195922851562,"y":4659.087158203125,"wires":[]},{"id":"4faa247.3af4edc","type":"ui_text","z":"2648b56e.74804a","group":"c870e4f4.c54aa8","order":4,"width":0,"height":0,"name":"Chem Pump 2 Cmd","label":"Pump 2 Command","format":"{{msg.payload}}","layout":"row-left","x":1057.0195922851562,"y":4699.087199211121,"wires":[]},{"id":"79513801.a0dc38","type":"function","z":"2648b56e.74804a","name":"Send Setpoints","func":"    \nvar pdPump1StartSetpoint = flow.get(\"pdPump1StartSetpoint\")\nvar pdPump1StartSetpointDate = flow.get(\"pdPump1StartSetpointDate\")\nvar pdPump1StopSetpoint = flow.get(\"pdPump1StopSetpoint\")\nvar pdPump1StopSetpointDate = flow.get(\"pdPump1StopSetpointDate\")\nvar pdPump2StartSetpoint = flow.get(\"pdPump2StartSetpoint\")\nvar pdPump2StartSetpointDate = flow.get(\"pdPump2StartSetpointDate\")\nvar pdPump2StopSetpoint = flow.get(\"pdPump2StopSetpoint\")\nvar pdPump2StopSetpointDate = flow.get(\"pdPump2StopSetpointDate\")\nvar tankHighSetpoint = flow.get(\"tankHighSetpoint\")\nvar tankHighSetpointDate = flow.get(\"tankHighSetpointDate\")\nvar tankLowSetpoint = flow.get(\"tankLowSetpoint\")\nvar tankLowSetpointDate = flow.get(\"tankLowSetpointDate\")\n\n    var statusMsg = \"Current Time        \" + msg.timeStamp\n    statusMsg += \"\\nMorgan SWD 1\\nSetpoints:\"\n    statusMsg = statusMsg + \"\\nStatus Time         \" + pdPump1StartSetpointDate\n    statusMsg = statusMsg + \"\\nPump Set 1 Start    \" + pdPump1StartSetpoint\n    statusMsg = statusMsg + \"\\nPump Set 1 Stop     \" + pdPump1StopSetpoint\n    statusMsg = statusMsg + \"\\nPump Set 2 Start    \" + pdPump2StartSetpoint\n    statusMsg = statusMsg + \"\\nPump Set 2 Stop     \" + pdPump2StopSetpoint\n    statusMsg = statusMsg + \"\\nTank Set High Lvl   \" + tankHighSetpoint\n    statusMsg = statusMsg + \"\\nTank Set Low Lvl    \" + tankLowSetpoint\n    \n  msg.payload = statusMsg\n  return msg;\n\n","outputs":1,"noerr":0,"x":1211.01953125,"y":115.00390625,"wires":[["ea78d62b.40e318"]]},{"id":"17ceca91.924b75","type":"function","z":"2648b56e.74804a","name":"Send Help Menu","func":"\n    var statusMsg = \"Current Time        \" + msg.timeStamp\n    statusMsg += \"\\nError: Command not recognized.\\nView Status=1\\nReset Alarms=2\\nView Setpoints=3\\nView Flows=4\"\n    \n  msg.payload = statusMsg\n  return msg;\n\n","outputs":1,"noerr":0,"x":1208.0195541381836,"y":195.00392723083496,"wires":[["ea78d62b.40e318"]]},{"id":"cd4bc94e.fcd778","type":"modbus-read","z":"2648b56e.74804a","name":"SDV Valve","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"33","quantity":"1","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"65","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":144.02344512939453,"y":1230.0394144058228,"wires":[["8ed01401.351358"],[]]},{"id":"8ed01401.351358","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":369.02344512939453,"y":1267.039361000061,"wires":[["bccfb3c5.afd4e"]]},{"id":"bccfb3c5.afd4e","type":"function","z":"2648b56e.74804a","name":"Parse SDV Reg","func":"flow.set(\"sdvDate\", msg.timeStamp)\n\nif((msg.payload[0] & 1) > 0) {\n    flow.set(\"sdvOpenComm\", \"On\")\n    global.set(\"sdvOpenComm\", \"On\")\n} else {\n    flow.set(\"sdvOpenComm\", \"Off\")\n    global.set(\"sdvOpenComm\", \"Off\")\n}\n\nif((msg.payload[0] & 2) > 0) {\n    flow.set(\"sdvOpenStatus\", \"On\")\n    global.set(\"sdvOpenStatus\", \"On\")\n} else {\n    flow.set(\"sdvOpenStatus\", \"Off\")\n    global.set(\"sdvOpenStatus\", \"Off\")\n}\n\nif((msg.payload[0] & 4) > 0) {\n    flow.set(\"sdvClosedStatus\", \"On\")\n    global.set(\"sdvClosedStatus\", \"On\")\n} else {\n    flow.set(\"sdvClosedStatus\", \"Off\")\n    global.set(\"sdvClosedStatus\", \"Off\")\n}","outputs":1,"noerr":0,"x":598.0234451293945,"y":1273.039361000061,"wires":[[]]},{"id":"2ac88dcc.0f0142","type":"inject","z":"50093eb5.860c3","name":"15 sec write","topic":"","payload":"","payloadType":"date","repeat":"45","crontab":"","once":false,"onceDelay":0.1,"x":153,"y":92.00005912780762,"wires":[["16ce5ff4.ba763"]]},{"id":"16ce5ff4.ba763","type":"function","z":"50093eb5.860c3","name":"Check Permissive and Send Value","func":"var sdvOpenStatus = global.get('sdvOpenStatus')\nvar sdvOpenComm = global.get('sdvOpenComm')\n// if(sdvOpenStatus == \"On\" && sdvOpenComm == \"On\") {\n    var b = new Buffer([1,1,0,0,0,6,1,6,8,51,0,1])\n    return {payload: b}\n    return {\"payload\": '010100000006010608330001'}\n// } else {\n//      var b = new Buffer([1,1,0,0,0,6,1,6,8,51,0,0])\n//     return {payload: b}\n// }","outputs":1,"noerr":0,"x":434.8124465942383,"y":91.8331298828125,"wires":[["b2b90d91.b5aea","50061a29.4aa7f4","50917013.8a57a"]]},{"id":"dc309fbe.e6021","type":"comment","z":"50093eb5.860c3","name":"Write Permissive to SM Energy Skid","info":"","x":201.50003051757812,"y":45,"wires":[]},{"id":"ea1e0a4a.3f0698","type":"modbus-read","z":"2648b56e.74804a","name":"Flow Rate","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"104","quantity":"1","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"70","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":133,"y":1333.000220298767,"wires":[["63a1ba67.0a9664"],[]]},{"id":"63a1ba67.0a9664","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":373.00000762939453,"y":1331.000256538391,"wires":[["da241d6a.d252b"]]},{"id":"da241d6a.d252b","type":"function","z":"2648b56e.74804a","name":"Parse Flow Reg","func":"flow.set(\"flowRateDate\", msg.timeStamp)\nflow.set(\"flowRate\", msg.payload[0])","outputs":1,"noerr":0,"x":580.000057220459,"y":1332.0002555847168,"wires":[[]]},{"id":"e34866e7.99e4e8","type":"ui_text","z":"2648b56e.74804a","group":"b5192a65.e30498","order":1,"width":0,"height":0,"name":"Flow Rate","label":"Flow Rate (bpd):","format":"{{msg.payload}}","layout":"row-spread","x":1019.0000610351562,"y":4742.333251953125,"wires":[]},{"id":"208ede23.730852","type":"ui_text","z":"2648b56e.74804a","group":"b5192a65.e30498","order":2,"width":0,"height":0,"name":"Flow Rate Date","label":"Last Read:","format":"{{msg.payload}}","layout":"row-spread","x":1038.0001068115234,"y":4782.3334102630615,"wires":[]},{"id":"cbbfd8e6.4c2768","type":"ui_text","z":"2648b56e.74804a","group":"b5192a65.e30498","order":6,"width":0,"height":0,"name":"SDV Date","label":"Last Read:","format":"{{msg.payload}}","layout":"row-spread","x":1020.0000152587891,"y":4817.3330936431885,"wires":[]},{"id":"86d41b24.8b1d88","type":"ui_text","z":"2648b56e.74804a","group":"b5192a65.e30498","order":3,"width":0,"height":0,"name":"SDV Open Comm","label":"SDV Open Comm:","format":"{{msg.payload}}","layout":"row-spread","x":1049.0000610351562,"y":4857.333251953125,"wires":[]},{"id":"aeb14221.02643","type":"ui_text","z":"2648b56e.74804a","group":"b5192a65.e30498","order":4,"width":0,"height":0,"name":"SDV Open Status","label":"SDV Open Status:","format":"{{msg.payload}}","layout":"row-spread","x":1046.0000610351562,"y":4899,"wires":[]},{"id":"a758b90a.a6a758","type":"ui_text","z":"2648b56e.74804a","group":"b5192a65.e30498","order":5,"width":0,"height":0,"name":"SDV Closed Status","label":"SDV Closed Status:","format":"{{msg.payload}}","layout":"row-spread","x":1045.0001068115234,"y":4939.0001583099365,"wires":[]},{"id":"b2b90d91.b5aea","type":"function","z":"50093eb5.860c3","name":"cache sm energy permissive","func":"// global.set('smEnergyPermissive', \"On\")\n// if(msg.payload[msg.payload.length - 1] == 1) {\n// global.set('smEnergyPermissive', \"On\")\n// } else {\n// global.set('smEnergyPermissive', \"Off\")\n// }","outputs":1,"noerr":0,"x":729.5000305175781,"y":41.00000190734863,"wires":[[]]},{"id":"7707ae35.04ba9","type":"ui_text","z":"2648b56e.74804a","group":"b5192a65.e30498","order":7,"width":0,"height":0,"name":"SM Energy Permissive","label":"SM Energy Permissive:","format":"{{msg.payload}}","layout":"row-spread","x":1055.0000610351562,"y":4980,"wires":[]},{"id":"e76db6f9.2e5518","type":"inject","z":"50093eb5.860c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155.5,"y":131.33334827423096,"wires":[[]]},{"id":"9bad4dc2.4cbc8","type":"trigger","z":"50093eb5.860c3","op1":"","op2":"ERROR: SM Energy Permissive Timeout","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":535.1666793823242,"y":231.00000667572021,"wires":[["2dcfd9a2.e0ddb6"]]},{"id":"12d2b8a0.278377","type":"function","z":"50093eb5.860c3","name":"Check Status","func":"var comms = flow.get('permissiveComms')||\"Normal\"\n\nif(comms == (\"Normal\")) {\nnode.error('CHECK STATUS RETURN')\nreturn msg;    \n}\n","outputs":1,"noerr":0,"x":335.4999942779541,"y":230.99999809265137,"wires":[["9bad4dc2.4cbc8","1c244105.e22b3f","e5cd1751.883428"]]},{"id":"3e762373.88eabc","type":"sms","z":"50093eb5.860c3","name":"Customer Twilio","message":"","numbers":"+18172473760","throttle":"5000","twilio":"83afd947.e3d0f8","x":1327.0000228881836,"y":229.00005912780762,"wires":[[]]},{"id":"6be50389.b46d7c","type":"function","z":"50093eb5.860c3","name":"Alarm Clear Text","func":"var smCommAlarm = flow.get('smCommAlarm')||\"Normal\"\nif(smCommAlarm == 'Alarm') {\n    flow.set('smCommAlarm', 'Normal')\n    return {payload: 'Time: ' + msg.timeStamp + '\\nSM Energy Permissive Comms Return to Normal.'}\n}","outputs":1,"noerr":0,"x":653.0000152587891,"y":321.00000762939453,"wires":[["3e762373.88eabc"]]},{"id":"cabf14f7.3d6b68","type":"function","z":"50093eb5.860c3","name":"cache sm comm status","func":"flow.set('smCommAlarm', 'Alarm')\nmsg.payload = 'Time: ' + msg.timeStamp + '\\n' + msg.payload\nreturn msg","outputs":1,"noerr":0,"x":987.0001907348633,"y":218.0000057220459,"wires":[["3e762373.88eabc","74248422.e9c61c"]]},{"id":"2dcfd9a2.e0ddb6","type":"moment","z":"50093eb5.860c3","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":753.0000228881836,"y":220.0000114440918,"wires":[["cabf14f7.3d6b68"]]},{"id":"1c244105.e22b3f","type":"moment","z":"50093eb5.860c3","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":448.00001525878906,"y":316.00000762939453,"wires":[["6be50389.b46d7c"]]},{"id":"e5cd1751.883428","type":"debug","z":"50093eb5.860c3","name":"CONNECTION STATUS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":304.0234375,"y":360.0390625,"wires":[]},{"id":"50061a29.4aa7f4","type":"debug","z":"50093eb5.860c3","name":"TRY SEND PERMISSIVE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":715.0234375,"y":144.0390625,"wires":[]},{"id":"c115bf30.e224d","type":"modbus-write","z":"2648b56e.74804a","name":"PLC2 VFD 2 Set/Reset Alarm Bit 0","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"50","quantity":"1","server":"8b435184.4c8d6","x":953.0164184570312,"y":1496.4003238677979,"wires":[[],[]]},{"id":"f1482390.92feb","type":"comment","z":"2648b56e.74804a","name":"PLC 2 Keep Alive","info":"","x":658.0234451293945,"y":1476.5393133163452,"wires":[]},{"id":"9cd8ee02.2990c","type":"function","z":"2648b56e.74804a","name":"Parse Alarm Reg 2","func":"var alarmMsg = \"\"\n\nflow.set(\"alarmReg2Date\", msg.timeStamp)\n\nvar oldPlc2HighDischargeAlarm = flow.get(\"plc2HighDischargeAlarm\")||\"Normal\"\nvar oldPlc2LowDischargeAlarm = flow.get(\"plc2LowDischargeAlarm\")||\"Normal\"\nvar oldPlc2HighSuctionAlarm = flow.get(\"plc2HighSuctionAlarm\")||\"Normal\"\nvar oldPlc2LowSuctionAlarm = flow.get(\"plc2LowSuctionAlarm\")||\"Normal\"\nvar oldPlc2LowOilAlarm = flow.get(\"plc2lowOilAlarm\")||\"Normal\"\nvar oldPlc2LowLubeAlarm = flow.get(\"plc2lowLubeAlarm\")||\"Normal\"\nvar oldPlc2HighVibrationAlarm = flow.get(\"plc2highVibrationAlarm\")||\"Normal\"\nvar oldPlc2LowCrankAlarm = flow.get(\"plc2lowCrankAlarm\")||\"Normal\"\n\nif((msg.payload[0] & 1) > 0) {\n    var newPlc2HighDischargeAlarm = \"Alarm\"\n} else {\n    var newPlc2HighDischargeAlarm = \"Normal\"\n}\n\nif(oldPlc2HighDischargeAlarm !== undefined) {\n  \n  if(newPlc2HighDischargeAlarm !== oldPlc2HighDischargeAlarm) {\n    flow.set(\"plc2HighDischargeAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newPlc2HighDischargeAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   VFD 2 High Discharge\"\n    } else if(newPlc2HighDischargeAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  VFD 2 High Discharge\"\n    }\n}\n   \n} \n\n\nif((msg.payload[0] & 2) > 0) {\n    var newPlc2LowDischargeAlarm = \"Alarm\"\n} else {\n    var newPlc2LowDischargeAlarm = \"Normal\"\n}\n\nif(oldPlc2LowDischargeAlarm !== undefined) {\n  \n  if(newPlc2LowDischargeAlarm !== oldPlc2LowDischargeAlarm) {\n    flow.set(\"plc2LowDischargeAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newPlc2LowDischargeAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   VFD 2 Low Discharge\"\n    } else if(newPlc2LowDischargeAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  VFD 2 Low Discharge\"\n    }\n}\n   \n} \n\n\nif((msg.payload[0] & 4) > 0) {\n    var newPlc2HighSuctionAlarm = \"Alarm\"\n} else {\n    var newPlc2HighSuctionAlarm = \"Normal\"\n}\n\nif(oldPlc2HighSuctionAlarm !== undefined) {\n  \n  if(newPlc2HighSuctionAlarm !== oldPlc2HighSuctionAlarm) {\n    flow.set(\"plc2HighSuctionAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newPlc2HighSuctionAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   VFD 2 High Suction\"\n    } else if(newPlc2HighSuctionAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  VFD 2 High Suction\"\n    }\n}\n   \n} \n\nif((msg.payload[0] & 8) > 0) {\n    var newPlc2LowSuctionAlarm = \"Alarm\"\n} else {\n    var newPlc2LowSuctionAlarm = \"Normal\"\n}\n\nif(oldPlc2LowSuctionAlarm !== undefined) {\n  \n  if(newPlc2LowSuctionAlarm !== oldPlc2LowSuctionAlarm) {\n    flow.set(\"plc2LowSuctionAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newPlc2LowSuctionAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   VFD 2 Low Suction\"\n    } else if(newPlc2LowSuctionAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  VFD 2 Low Suction\"\n    }\n}\n   \n} \n\nif((msg.payload[0] & 16) > 0) {\n    var newPlc2LowOilAlarm = \"Alarm\"\n} else {\n    var newPlc2LowOilAlarm = \"Normal\"\n}\n\nif(oldPlc2LowOilAlarm !== undefined) {\n  \n  if(newPlc2LowOilAlarm !== oldPlc2LowOilAlarm) {\n    flow.set(\"plc2LowOilAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newPlc2LowOilAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   VFD 2 Low Oil\"\n    } else if(newPlc2LowOilAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  VFD 2 Low Oil\"\n    }\n}\n   \n} \n\n\nif((msg.payload[0] & 32) > 0) {\n    var newPlc2LowLubeAlarm = \"Alarm\"\n} else {\n    var newPlc2LowLubeAlarm = \"Normal\"\n}\n\nif(oldPlc2LowLubeAlarm !== undefined) {\n  \n  if(newPlc2LowLubeAlarm !== oldPlc2LowLubeAlarm) {\n    flow.set(\"plc2LowLubeAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newPlc2LowLubeAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   VFD 2 Low Lube\"\n    } else if(newPlc2LowLubeAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  VFD 2 Low Lube\"\n    }\n}\n   \n} \n\n\nif((msg.payload[0] & 64) > 0) {\n    var newPlc2HighVibrationAlarm = \"Alarm\"\n} else {\n    var newPlc2HighVibrationAlarm = \"Normal\"\n}\n\nif(oldPlc2HighVibrationAlarm !== undefined) {\n  \n  if(newPlc2HighVibrationAlarm !== oldPlc2HighVibrationAlarm) {\n    flow.set(\"plc2HighVibrationAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newPlc2HighVibrationAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   VFD 2 High Vibration\"\n    } else if(newPlc2HighVibrationAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  VFD 2 High Vibration\"\n    }\n}\n   \n} \n\n\nif((msg.payload[0] & 128) > 0) {\n    var newPlc2LowCrankAlarm = \"Alarm\"\n} else {\n    var newPlc2LowCrankAlarm = \"Normal\"\n}\n\nif(oldPlc2LowCrankAlarm !== undefined) {\n  \n  if(newPlc2LowCrankAlarm !== oldPlc2LowCrankAlarm) {\n    flow.set(\"plc2LowCrankAlarmDate\", msg.timeStamp)\n    if(alarmMsg.length === 0) {\n        alarmMsg = \"Current Time        \" + msg.timeStamp\n        alarmMsg += \"\\nMorgan SWD 1\"\n    }\n      \n     if(newPlc2LowCrankAlarm === \"Alarm\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Active:   VFD 2 Low Crank\"\n    } else if(newPlc2LowCrankAlarm === \"Normal\") {\n    alarmMsg = alarmMsg + \"\\nAlarm Cleared:  VFD 2 Low Crank\"\n    }\n}\n   \n} \n\n\nflow.set(\"plc2HighDischargeAlarm\", newPlc2HighDischargeAlarm)\nflow.set(\"plc2LowDischargeAlarm\", newPlc2LowDischargeAlarm)\nflow.set(\"plc2HighSuctionAlarm\", newPlc2HighSuctionAlarm)\nflow.set(\"plc2LowSuctionAlarm\", newPlc2LowSuctionAlarm)\nflow.set(\"plc2lowOilAlarm\", newPlc2LowOilAlarm)\nflow.set(\"plc2lowLubeAlarm\", newPlc2LowLubeAlarm)\nflow.set(\"plc2highVibrationAlarm\", newPlc2HighVibrationAlarm)\nflow.set(\"plc2lowCrankAlarm\", newPlc2LowCrankAlarm)\n\n\nif(alarmMsg.length > 0) {\n   return {\"payload\": alarmMsg}\n} \n\n\n\n\n","outputs":2,"noerr":0,"x":606,"y":1188.0390625,"wires":[["c4858393.65d0a"],[]]},{"id":"d9f7bc59.1dc9c","type":"modbus-read","z":"2648b56e.74804a","name":"Alarm Reg 2","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"40","quantity":"1","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"60","server":"8b435184.4c8d6","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":158,"y":1164.0390625,"wires":[["8fc57e1b.c4917"],[]]},{"id":"8fc57e1b.c4917","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":356.5,"y":1168.0390625,"wires":[["9cd8ee02.2990c"]]},{"id":"f91bbfed.d6087","type":"comment","z":"2648b56e.74804a","name":"PLC 2 Alarms VFD 2","info":"","x":107.02344512939453,"y":1127.0390625,"wires":[]},{"id":"63b8a3df.13b6cc","type":"debug","z":"50093eb5.860c3","name":"MODBUS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1128.0234680175781,"y":280.03907012939453,"wires":[]},{"id":"552acf85.9ad1f","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":1059.0234298706055,"y":970.0391216278076,"wires":[["ec5667bd.3a21f8"]]},{"id":"50917013.8a57a","type":"function","z":"50093eb5.860c3","name":"write perm","func":"var net = context.global.get('net');\n\nvar HOST = '166.140.114.160';\nvar PORT = 510;\n\nvar writeSuccessCount = flow.get('writeSuccessCount')||0\nvar writeErrorCount = flow.get('writeErrorCount')||0\n\nvar client = new net.Socket();\n\nvar tm = setTimeout(function(){\n    flow.set('permissiveComms', 'Alarm')\n    flow.set('writeErrorCount', writeErrorCount+1)\n    // clearInterval(interval)\n    client.removeAllListeners()\n    client.destroy()\n},10000);\n\n// Add a 'data' event handler for the client socket\n// data is what the server sent to this socket\nclient.on('data', function(data) {\n    // data = data.toString('hex')\n    // node.error(data);\n    // Close the client socket completely\n    clearTimeout(tm)\n    // clearInterval(interval)\n    flow.set('writeSuccessCount', writeSuccessCount+1)\n    flow.set('permissiveComms', 'Normal')\n    client.destroy();\n});\n\n// Add a 'close' event handler for the client socket\nclient.on('close', function() {\n    // clearInterval(interval)\n    clearTimeout(tm)\n    client.removeAllListeners()\n    node.error('Connection closed');\n});\n\n\n\n client.connect(PORT, HOST, function(){\n    node.error('CLIENT CONNECTED')\n    clearTimeout(tm)\n    // clearInterval(interval)\n    client.write(msg.payload);     \n });   \n\n\n\n","outputs":1,"noerr":0,"x":951.5390625,"y":86.9375,"wires":[[]]},{"id":"5bb55823.88c738","type":"inject","z":"50093eb5.860c3","name":"check status interval","topic":"","payload":"Normal","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":145.0234375,"y":231.0390682220459,"wires":[["12d2b8a0.278377","e5cd1751.883428"]]},{"id":"5c4c8d7e.c8c0c4","type":"inject","z":"50093eb5.860c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":96.5,"y":478,"wires":[["7004c878.7b0f88"]]},{"id":"7004c878.7b0f88","type":"function","z":"50093eb5.860c3","name":"Set Permissive Cache","func":"global.set('sdvOpenStatus',\"On\")\nglobal.set('sdvOpenComm',\"On\")","outputs":1,"noerr":0,"x":292.5,"y":475,"wires":[[]]},{"id":"592e8279.50484c","type":"cron","z":"2648b56e.74804a","name":"","crontab":"7 * * * * *","x":408.5,"y":202,"wires":[["cdcfd79e.8abb58"]]},{"id":"de6f1e8d.f3a03","type":"cron","z":"2648b56e.74804a","name":"","crontab":"22 * * * * *","x":411,"y":244,"wires":[["cdcfd79e.8abb58"]]},{"id":"7bcd49aa.848648","type":"cron","z":"2648b56e.74804a","name":"","crontab":"37 * * * * *","x":410,"y":288,"wires":[["cdcfd79e.8abb58"]]},{"id":"ace6e0a8.d42be","type":"cron","z":"2648b56e.74804a","name":"","crontab":"52 * * * * *","x":407,"y":344,"wires":[["cdcfd79e.8abb58"]]},{"id":"60e71ac1.356d24","type":"comment","z":"2648b56e.74804a","name":"CCS SCADA HEALTH MANAGER KEEPALIVE MQTT","info":"","x":720,"y":200,"wires":[]},{"id":"cdcfd79e.8abb58","type":"mqtt out","z":"2648b56e.74804a","name":"Hannathon Morgan_SWD_1 Keepalive","topic":"Hannathon_Morgan_SWD_1","qos":"0","retain":"","broker":"975eae2.064e85","x":758,"y":251,"wires":[]},{"id":"5d090638.876b58","type":"cron","z":"50093eb5.860c3","name":"","crontab":"45 * * * * *","x":534,"y":522,"wires":[["ed5df7b.1113108"]]},{"id":"c870066.c799ff8","type":"cron","z":"50093eb5.860c3","name":"","crontab":"30 * * * * *","x":537,"y":466,"wires":[["ed5df7b.1113108"]]},{"id":"d0c7643e.2da958","type":"cron","z":"50093eb5.860c3","name":"","crontab":"15 * * * * *","x":538,"y":422,"wires":[["ed5df7b.1113108"]]},{"id":"24bae0c9.5e4b5","type":"cron","z":"50093eb5.860c3","name":"","crontab":"0 * * * * *","x":535.5,"y":380,"wires":[["ed5df7b.1113108"]]},{"id":"ed5df7b.1113108","type":"mqtt out","z":"50093eb5.860c3","name":"Hannathon_Morgan_SWD_1_SM_Energy Keepalive","topic":"Hannathon_Morgan_SWD_1_SM_Energy","qos":"0","retain":"","broker":"975eae2.064e85","x":935,"y":429,"wires":[]},{"id":"f68009f3.d3b9d8","type":"comment","z":"2648b56e.74804a","name":"Numbers","info":" +18172473760, +14326645113,+14324139363","x":1596,"y":158,"wires":[]},{"id":"e50acd9b.6f597","type":"inject","z":"50093eb5.860c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":313.5,"y":163,"wires":[[]]},{"id":"aea684b6.5310a8","type":"function","z":"2648b56e.74804a","name":"Send Flow","func":"    \nvar chargePump1TotalAccum = flow.get(\"chargePump1TotalAccum\")\nvar chargePump1FlowRate = flow.get(\"chargePump1FlowRate\")\nvar chargePump1Today = flow.get(\"chargePump1Today\")\nvar chargePump1Yesterday = flow.get(\"chargePump1Yesterday\")\nvar chargePump2TotalAccum = flow.get(\"chargePump2TotalAccum\")\nvar chargePump2FlowRate = flow.get(\"chargePump2FlowRate\")\nvar chargePump2Today = flow.get(\"chargePump2Today\")\nvar chargePump2Yesterday = flow.get(\"chargePump2Yesterday\")\nvar statusRegDate = flow.get(\"statusRegDate\")\nvar flowRate = flow.get(\"flowRate\")\n\n    var statusMsg = \"Current Time        \" + msg.timeStamp\n    statusMsg += \"\\nMorgan SWD 1\\nFlow:\"\n    statusMsg = statusMsg + \"\\nStatus Time         \" + statusRegDate\n    statusMsg = statusMsg + \"\\nInc Flow Rate (BPD) \" + flowRate\n    statusMsg = statusMsg + \"\\nCh.1 Total (BBLS)   \" + chargePump1TotalAccum\n    statusMsg = statusMsg + \"\\nCh.1 Rate (BPD)     \" + chargePump1FlowRate\n    statusMsg = statusMsg + \"\\nCh.1 Today (BBLS)   \" + chargePump1Today\n    statusMsg = statusMsg + \"\\nCh.1 Yest. (BBLS)   \" + chargePump1Yesterday\n    statusMsg = statusMsg + \"\\nCh.2 Total (BBLS)   \" + chargePump2TotalAccum\n    statusMsg = statusMsg + \"\\nCh.2 Rate (BPD)     \" + chargePump2FlowRate\n    statusMsg = statusMsg + \"\\nCh.2 Today (BBLS)   \" + chargePump2Today\n    statusMsg = statusMsg + \"\\nCh.2 Yest. (BBLS)   \" + chargePump2Yesterday\n    \n  msg.payload = statusMsg\n  return msg;\n\n","outputs":1,"noerr":0,"x":1473.0234375,"y":99.0390625,"wires":[["ea78d62b.40e318"]]},{"id":"7af2605a.5ca87","type":"modbus-read","z":"2648b56e.74804a","name":"Charge Pump 1 Total Accum.","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"10001","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":true,"startDelayTime":"75","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":197.01734924316406,"y":1639.8992824554443,"wires":[["1c45fa72.03e6c6","df78603c.042ae"],[]]},{"id":"762bb081.51f2e","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":951.017406463623,"y":1669.8996868133545,"wires":[["4f7d8887.f93ec8"]]},{"id":"4f7d8887.f93ec8","type":"function","z":"2648b56e.74804a","name":"Parse Flow Reg","func":"flow.set(\"chargePump1TotalAccum\", msg.payload)","outputs":1,"noerr":0,"x":1165.0174674987793,"y":1672.899320602417,"wires":[[]]},{"id":"b7e0eb1d.b5be58","type":"modbus-read","z":"2648b56e.74804a","name":"Charge Pump 1 Flow Rate","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"10003","quantity":"2","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"80","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":281.01734924316406,"y":1716.899169921875,"wires":[["2d6596ff.b367ea","df78603c.042ae"],[]]},{"id":"59356d43.f7b004","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":909.0173072814941,"y":1726.8994436264038,"wires":[["76a3a931.760c78"]]},{"id":"76a3a931.760c78","type":"function","z":"2648b56e.74804a","name":"Parse Flow Reg","func":"flow.set(\"chargePump1FlowRate\", msg.payload)","outputs":1,"noerr":0,"x":1116.0173568725586,"y":1727.8994426727295,"wires":[[]]},{"id":"95b82574.c83578","type":"modbus-read","z":"2648b56e.74804a","name":"Charge Pump 1 Today","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"10005","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":true,"startDelayTime":"85","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":259.01734924316406,"y":1796.899169921875,"wires":[["3d4cdbc5.19c244","df78603c.042ae"],[]]},{"id":"a7d8ec89.de49d","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":897.0173072814941,"y":1806.8994436264038,"wires":[["da2913d0.b95d5"]]},{"id":"da2913d0.b95d5","type":"function","z":"2648b56e.74804a","name":"Parse Flow Reg","func":"flow.set(\"chargePump1Today\", msg.payload)","outputs":1,"noerr":0,"x":1104.0173568725586,"y":1807.8994426727295,"wires":[[]]},{"id":"4c1ad464.8a110c","type":"modbus-read","z":"2648b56e.74804a","name":"Charge Pump 1 Yesterday","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"10017","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":true,"startDelayTime":"90","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":286.01734924316406,"y":1853.899169921875,"wires":[["36803eaa.53c6b2","df78603c.042ae"],[]]},{"id":"dc5b6e94.f568e","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":918.0172958374023,"y":1863.8995037078857,"wires":[["f88e90d1.a635d"]]},{"id":"f88e90d1.a635d","type":"function","z":"2648b56e.74804a","name":"Parse Flow Reg","func":"flow.set(\"chargePump1Yesterday\", msg.payload)","outputs":1,"noerr":0,"x":1121.0173568725586,"y":1864.8994426727295,"wires":[[]]},{"id":"1c45fa72.03e6c6","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":565.0173797607422,"y":1661.899564743042,"wires":[["4e502355.e826fc"]]},{"id":"4e502355.e826fc","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":783.0173454284668,"y":1666.899564743042,"wires":[["762bb081.51f2e"]]},{"id":"2d6596ff.b367ea","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":553.0173492431641,"y":1719.899320602417,"wires":[["f202a522.7c3f88"]]},{"id":"f202a522.7c3f88","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":744.0173568725586,"y":1720.8992595672607,"wires":[["59356d43.f7b004"]]},{"id":"3d4cdbc5.19c244","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":540.0173645019531,"y":1787.8991985321045,"wires":[["5f09f721.30d2d8"]]},{"id":"5f09f721.30d2d8","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":736.0173759460449,"y":1795.899320602417,"wires":[["a7d8ec89.de49d"]]},{"id":"36803eaa.53c6b2","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":574.0173492431641,"y":1852.8992595672607,"wires":[["a321e795.ad13b8"]]},{"id":"a321e795.ad13b8","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":758.0173568725586,"y":1860.8991985321045,"wires":[["dc5b6e94.f568e"]]},{"id":"436ee7ae.5b79e8","type":"modbus-read","z":"2648b56e.74804a","name":"Charge Pump 2 Total Accum.","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"10201","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":true,"startDelayTime":"95","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":285.01734924316406,"y":1936.399169921875,"wires":[["c4d80ea5.f192b","df78603c.042ae"],[]]},{"id":"36cb41ad.d197fe","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":962.017406463623,"y":1946.3996868133545,"wires":[["183686dc.0dfd79"]]},{"id":"183686dc.0dfd79","type":"function","z":"2648b56e.74804a","name":"Parse Flow Reg","func":"flow.set(\"chargePump2TotalAccum\", msg.payload)","outputs":1,"noerr":0,"x":1176.0174674987793,"y":1949.399320602417,"wires":[[]]},{"id":"4e60e8c1.ec10a8","type":"modbus-read","z":"2648b56e.74804a","name":"Charge Pump 2 Flow Rate","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"10203","quantity":"2","rate":"30","rateUnit":"s","delayOnStart":true,"startDelayTime":"100","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":292.01734924316406,"y":1993.399169921875,"wires":[["30c769ac.3b5ec6","df78603c.042ae"],[]]},{"id":"7a55b258.8d993c","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":920.0173072814941,"y":2003.3994436264038,"wires":[["248e9e22.532ed2"]]},{"id":"248e9e22.532ed2","type":"function","z":"2648b56e.74804a","name":"Parse Flow Reg","func":"flow.set(\"chargePump2FlowRate\", msg.payload)","outputs":1,"noerr":0,"x":1127.0173568725586,"y":2004.3994426727295,"wires":[[]]},{"id":"6b053e6c.5175a","type":"modbus-read","z":"2648b56e.74804a","name":"Charge Pump 2 Today","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"10205","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":true,"startDelayTime":"105","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":270.01734924316406,"y":2073.399169921875,"wires":[["3b4e9248.a284ee","df78603c.042ae"],[]]},{"id":"3ff426e1.bf4eba","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":908.0173072814941,"y":2083.399443626404,"wires":[["c1a8952a.f1a708"]]},{"id":"c1a8952a.f1a708","type":"function","z":"2648b56e.74804a","name":"Parse Flow Reg","func":"flow.set(\"chargePump2Today\", msg.payload)","outputs":1,"noerr":0,"x":1115.0173568725586,"y":2084.3994426727295,"wires":[[]]},{"id":"1f0eadc3.85b372","type":"modbus-read","z":"2648b56e.74804a","name":"Charge Pump 2 Yesterday","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"10217","quantity":"2","rate":"60","rateUnit":"s","delayOnStart":true,"startDelayTime":"110","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":297.01734924316406,"y":2130.399169921875,"wires":[["9df41f7e.436d3","df78603c.042ae"],[]]},{"id":"2334abfc.02c3d4","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":929.0172958374023,"y":2140.3995037078857,"wires":[["b537db12.664e98"]]},{"id":"b537db12.664e98","type":"function","z":"2648b56e.74804a","name":"Parse Flow Reg","func":"flow.set(\"chargePump2Yesterday\", msg.payload)","outputs":1,"noerr":0,"x":1132.0173568725586,"y":2141.3994426727295,"wires":[[]]},{"id":"c4d80ea5.f192b","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":576.0173797607422,"y":1938.399564743042,"wires":[["21a906a1.6c2e9a"]]},{"id":"21a906a1.6c2e9a","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":794.0173454284668,"y":1943.399564743042,"wires":[["36cb41ad.d197fe"]]},{"id":"30c769ac.3b5ec6","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":564.0173492431641,"y":1996.399320602417,"wires":[["28671e72.ea8c62"]]},{"id":"28671e72.ea8c62","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":755.0173568725586,"y":1997.3992595672607,"wires":[["7a55b258.8d993c"]]},{"id":"3b4e9248.a284ee","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":554.0173797607422,"y":2064.399169921875,"wires":[["184a2c17.af0944"]]},{"id":"184a2c17.af0944","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":747.0173759460449,"y":2072.399320602417,"wires":[["3ff426e1.bf4eba"]]},{"id":"9df41f7e.436d3","type":"function","z":"2648b56e.74804a","name":"Combine 2-Registers ABCD","func":"\nvar num = 0\nnum = msg.payload[0] << 16\nnum = num + msg.payload[1]\nmsg.payload = num\nreturn msg;","outputs":1,"noerr":0,"x":585.0173492431641,"y":2129.3992595672607,"wires":[["5f7dcfb6.27fe7"]]},{"id":"5f7dcfb6.27fe7","type":"toFloat","z":"2648b56e.74804a","name":"","toFixed":"2","x":769.0173568725586,"y":2137.3991985321045,"wires":[["2334abfc.02c3d4"]]},{"id":"df78603c.042ae","type":"debug","z":"2648b56e.74804a","name":"MODSTUFFFFASFASFASFASF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":504.51734924316406,"y":1610.305419921875,"wires":[]},{"id":"a3f7580.3b3e6a8","type":"cron","z":"2648b56e.74804a","name":"","crontab":"*/5 * * * * *","x":152,"y":2240,"wires":[["c86ea47.c7b6a58"]]},{"id":"c86ea47.c7b6a58","type":"modbus-getter","z":"2648b56e.74804a","name":"Morgan SWD Modbus AC Power Fail","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"1032","quantity":"1","server":"5bd83007.ebe96","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":387,"y":2242,"wires":[["4304788c.38c558","1680a362.69dbed"],[]]},{"id":"4304788c.38c558","type":"moment","z":"2648b56e.74804a","name":"Inject timeStamp","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM/DD/YY hh:mm A","locale":"POSIX","output":"timeStamp","outputType":"msg","outTz":"America/Chicago","x":651,"y":2237,"wires":[["9f352d13.d3a22"]]},{"id":"9f352d13.d3a22","type":"function","z":"2648b56e.74804a","name":"Parse AC Power Fail ALARM","func":"var hasText = false\nvar hasVoice = false\nvar newAlarmValue = msg.payload[0]\n\nif(newAlarmValue == true) {\n    newAlarmValue = 'Alarm'\n} else {\n    newAlarmValue = 'Normal'\n}\nvar oldAlarmValue = flow.get(\"ACPowerAlarm\")\n\n\nif(oldAlarmValue != undefined) {\n    if(newAlarmValue != oldAlarmValue) {\n          var alarmMsg = \"Current Time        \" + msg.timeStamp\n            alarmMsg += \"\\nMorgan SWD 1\"          \n        \n        if(newAlarmValue == \"Alarm\") {\n            alarmMsg = alarmMsg + \"\\nAlarm Active:   \" + \"AC Power\"\n            var voiceMsg = \"Hello. There are active alarms at location. Morgan SWD 1. \"  \n             voiceMsg = voiceMsg + \"Active. \" + \"AC Power\" + \".\"\n             voiceMsg = voiceMsg + \". Press any key to acknowledge the alarm.\"\n             flow.set('voiceMsg', voiceMsg)\n             hasVoice = true\n        } else {\n            alarmMsg = alarmMsg + \"\\nAlarm Cleared:  \" + \"AC Power\"\n             hasText = true\n        }\n        \n    }\n}\n\nflow.set(\"ACPowerAlarm\", newAlarmValue)\n\nif(hasVoice == true) {\n  return [{\"payload\": alarmMsg}, {\"payload\": voiceMsg, 'reset': true}]\n} else if(hasText == true) {\n  return {\"payload\": alarmMsg}  \n}\n\n","outputs":2,"noerr":0,"x":892,"y":2226,"wires":[["c4858393.65d0a"],[]]},{"id":"1680a362.69dbed","type":"debug","z":"2648b56e.74804a","name":"AC POWER","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":676.5,"y":2307,"wires":[]},{"id":"66a1caf.76b0234","type":"sms","z":"2648b56e.74804a","name":"Customer Twilio","message":"","numbers":"+14327411885, +13375229291","throttle":"5000","twilio":"83afd947.e3d0f8","x":1494,"y":261,"wires":[[]]},{"id":"74248422.e9c61c","type":"sms","z":"50093eb5.860c3","name":"Customer Twilio","message":"","numbers":"","throttle":"5000","twilio":"9a4b6151.b1386","x":1339,"y":300,"wires":[[]]}]